﻿
@{
    ViewBag.Title = "ClassicPyramidFiftyOne";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/ClassicPyramidFiftyOne">
                Класична піраміда (51 очко)
            </a>
        </h2>








        <p><strong>«КЛАСИЧНА ПІРАМІДА (51 ОЧКО)»</strong></p>
        <p>При грі в «Класичну піраміду (51 очко)» слід керуватися "Загальними правилами піраміди», а також нижченаведеними правилами.</p>
        <p><strong>1. Мета гри.</strong> Першим (раніше суперника) набрати 51 або більше очок.</p>
        <p><strong>2. Використовувані кулі. </strong>Стандартний набір з шістнадцяти пірамідних більярдних куль: п'ятнадцять білих (кольори слонової кістки) куль з номерами від 1 до 15-ти, які використовуються як прицільні, і одна кольорова (переважно жовта) куля без номера, який використовується в якості битка.</p>
        <p>3. <strong>Вихідна розстановка куль.</strong> Перед початковим ударом п'ятнадцять прицільних куль встановлюються у формі рівностороннього трикутника (піраміди) з вершиною на задній відмітці столу і основою паралельно задньому борту. Кулі стають впритул один до одної в наступному порядку:</p>
        <p>1-й ряд - 4; 2-й ряд - 5,6; 3-й ряд - 7,15,8; 4-й ряд - 9,14,13,10; 5-й ряд - 2,1, 12, 11,3. Биток розташовується в домі.</p>
        <p><strong>4. Початковий удар.</strong> Початковий удар проводиться з руки з дому відповідно до п.11 і п.12 «Загальних правил піраміди».</p>
        <p><strong>5. Правила гри і ведення рахунку:</strong></p>
        <p>5.1. За кожну правильно забиту прицільну кулю до поточного рахунку гравця додається число очок, що дорівнює її номеру, а за зіграну одиницю (туза) - 11 очок. Таким чином, загальна сума очок - 130. До останньої яка залишилася на столі прицільної кулі незалежно від іі номера додається 10 очок.</p>
        <p>5.2. Перед виконанням удару гравець повинен заздалегідь вказати конкретну прицільну кулю і лузу, в яку він має намір її зіграти. Замовлення має бути чітким і ясним. До удару замовлення може бути змінене і оголошене наново. Зміна замовлення в процесі удару не допускається.</p>
        <p>5.3. При правильній зіграній замовленій кулі всі кулі, що впали в лузи унаслідок проведеного удару, зараховуються.</p>
        <p>5.4. Якщо в лузу впаде незамовлена прицільна куля, то її виставляють і гра продовжується.</p>
        <p>5.5. У разі падіння в лузу або вискакування за борт битка накладається штраф, після чого вступає в гру суперник, який вводить биток в гру ударом з руки з дому відповідно до п.6.</p>
        <p>5.6. За кожне порушення з поточного рахунку порушника списується 5 очок, а до поточного рахунку суперника додається 5 очок.</p>
        <p>5.7. Якщо кожен з гравців набирає по 70 очок, то остання забита прицільна куля виставляється на задню відмітку. Право подальшого удару визначається розіграшем, після чого гра продовжується з руки з дому і ведеться до забитої кулі або штрафу.</p>
        <p>5.8. Будь-який удар (за винятком початкового) повинен завершитися в повній відповідності з п. 20 «Загальних правил піраміди». В іншому випадку - штраф.</p>
        <p><strong>6. Введення битка в гру ударом з руки з дому</strong></p>
        <p>6.1. При ударі з руки з дому биток можна встановлювати в будь-якій точці дому, але не на лінії дому і не впритул до прицільних куль, що знаходяться в домі.</p>
        <p>6.2. Якщо при установці битка в домі зачеплена будь-яка з куль, то накладається штраф і після зняття штрафної кулі право введення битка в гру ударом з руки з дому переходить до суперника.</p>
        <p>6.3. Якщо биток встановлений поза домом, то суддя або суперник повинні попередити про це гравця, що вступає в гру до нанесення їм удару. В іншому випадку вважається, що биток встановлений правильно.</p>
        <p>6.4. До тих пір поки биток не введений в гру, його можна поправляти рукою і києм (включаючи наклейку), однак після того як биток встановлений, будь-який удар по битку розглядається як введення його в гру.</p>
        <p>6.5. Забивати в будь-яку лузу можна будь-яку кулю після зіткнення битка з будь-якою, розташованою поза домом прицільною кулею.</p>
        <p>6.6. Удар з дому вважається неправильним і карається штрафом, якщо:</p>
        <p>(1) биток до виходу з дому торкнувся кулі в домі; або</p>
        <p>(2) не торкнувся жодного кулі поза домом.</p>
        <p><strong>6. Виставлення куль. </strong>Всі неправильно забиті, незамовлені і прицільні кулі, які вискочили виставляються відповідно до п.25 «Загальних правил піраміди».</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>
<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>

