﻿
@{
    ViewBag.Title = "ClassicPyramidEight";
}
<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/ClassicPyramidEight">
                Класична піраміда (8 очок)
            </a>
        </h2>





        <p><strong>«КЛАСИЧНА ПІРАМІДА (8 ОЧОК)»</strong></p>
        <p>При грі в «Класичну піраміду (8 очок)» слід керуватися "Загальними правилами піраміди», а також нижченаведеними правилами.</p>
        <p><strong>1. Мета гри.</strong> Першим (раніше суперника) набрати вісім очок.</p>
        <p><strong>2. Кулі, які використовуються.</strong> Стандартний набір з шістнадцяти пірамідних більярдних куль: п'ятнадцять білих (кольори слонової кістки), які використовуються як прицільні і одна кольорова (переважно жовта) куля без номера, який використовується в якості битка.</p>
        <p><strong>3. Вихідна розстановка куль.</strong> (Див. П.9.1 і п.9.2 «Загальних правил піраміди»)</p>
        <p><strong>4. Початковий удар.</strong> Початковий удар проводиться з руки з дому відповідно до п.13 «Загальних правил піраміди».</p>
        <p><strong>5. Правила ведення гри:</strong></p>
        <p>5.1. Забивати в лузу можна тільки прицільні кулі.</p>
        <p>5.2. Оголошувати замовлення не потрібно. При правильному ударі зараховуються всі кулі, які впали в лузи.</p>
        <p>5.3. Будь-який удар (за винятком початкового) повинен завершитися в повній відповідності з п. 20 «Загальних правил піраміди». В іншому випадку - штраф.</p>
        <p><strong>6. Ведення рахунку.</strong> За кожну правильно забиту в лузу кулю гравцеві зараховується одне очко. У разі порушення правил до поточного рахунку суперника порушника додається одне очко.</p>
        <p><strong>7. Штрафи за порушення.</strong></p>
        <p>7.1. У разі порушення правил суперник знімає зі столу будь-яку прицільну кулю (на власний вибір) і кладе її на свою полицю. Така куля називається <em>штрафною</em>. Вона знімається після виставлення всіх неправильно забитих і куль, що вискочили.</p>
        <p>&nbsp;</p>
        <p><span style="text-decoration: underline;">Примітка:</span> Штрафна куля повинна бути знята до нанесення наступного удару, в іншому випадку вона залишається на столі і рахунок в партії не змінюється.</p>
        <p>7.2. Якщо биток впав в лузу або вискочив за борт, то після зняття штрафної кулі вступає в гру суперник вводить биток в гру ударом з руки з дому відповідно до п. 8.</p>
        <p><strong>8. Введення битка в гру ударом з руки з дому.</strong></p>
        <p>8.1. При введенні битка в гру ударом з руки з дому биток можна встановлювати в будь-якій точці дому, але не на лінії дому і не впритул до прицільних куль, що знаходяться в домі.</p>
        <p>8.2. Якщо при установці битка в домі зачеплена будь-яка з куль, то накладається штраф і після зняття штрафної кулі право введення битка в гру ударом з руки з дому переходить до суперника.</p>
        <p>8.3. Якщо биток встановлений поза домом, то суддя або суперник повинні попередити про це гравця, що вступає в гру до нанесення їм удару. В іншому випадку вважається, що биток встановлений правильно.</p>
        <p>8.4. До тих пір поки биток не введений в гру, його можна поправляти рукою і києм (включаючи наклейку), однак після того як биток встановлений, будь-який удар по битку розглядається як введення його в гру.</p>
        <p>8.5. Забивати в будь-яку лузу можна будь-яку кулю після зіткнення битка з будь-якою, розташованою поза домом прицільною кулею.</p>
        <p>8.6. Удар з дому вважається неправильним і карається штрафом, якщо:</p>
        <p>(1) биток до виходу з дому торкнувся кулі в домі; або</p>
        <p>(2) не торкнувся жодної кулі поза домом.</p>
        <p>8.6. Удар з дому вважається неправильним і карається штрафом, якщо:</p>
        <p>(1) биток до виходу з дому торкнувся кулі в домі; або</p>
        <p>(2) не торкнувся жодної кулі поза домом.</p>
        <p><strong>9. Виставляння куль.</strong> Всі неправильно забиті, що вискочили прицільні кулі виставляються відповідно до п. 25 «Загальних правил піраміди».</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>
<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>