﻿
@{
    ViewBag.Title = "CombinedPyramid";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/CombinedPyramid">
                Комбінована піраміда
            </a>
        </h2>







        <p><strong>«КОМБІНОВАНА ПІРАМІДА»</strong></p>
        <p>При грі в «Комбіновану піраміду» слід керуватися "Загальними правилами піраміди», а також нижченаведеними правилами.</p>
        <p><strong>1. Мета гри.</strong> Першим (раніше суперника) набрати вісім очок.</p>
        <p><strong>2. Кулі, які використовуються.</strong> Стандартний набір з шістнадцяти пірамідних більярдних куль: п'ятнадцять білих (кольори слонової кістки), які використовуються як прицільні, і одна кольорова (переважно жовта) куля без номера, яка використовується в якості битка.</p>
        <p><strong>3. Вихідна розстановка куль.</strong> (Див. п.9.1 і п.9.2 «Загальних правил піраміди»)</p>
        <p><strong>4. Початковий удар.</strong> Початковий удар проводиться з руки з дому відповідно до п.13 «Загальних правил піраміди».</p>
        <p><strong>5. Правила ведення гри:</strong></p>
        <p>5.1. Забивати в лузу можна як будь-яку прицільну кулю, так і биток від будь-якої прицільної кулі.</p>
        <p>5.2. На заміну забитого битка <em>гравець </em>знімає зі столу одну з прицільних куль за своїм вибором і вводить биток в гру ударом з руки з дому відповідно до п. 6.</p>
        <p><span style="text-decoration: underline;">Примітка:</span> Обрана прицільна куля повинна бути знята до нанесення наступного удару, в іншому випадку вона залишається на столі і рахунок в партії не змінюється.</p>
        <p>5.3. Оголошувати замовлення не потрібно. При правильному ударі зараховуються всі кулі, які впали в лузи.</p>
        <p>5.4. Будь-який удар (за винятком початкового) повинен завершитися в повній відповідності з п. 20 «Загальних правил піраміди». В іншому випадку - штраф.</p>
        <p><strong>6. Введення битка в гру ударом з руки з дому</strong></p>
        <p>6.1. При ударі з руки з дому биток можна встановлювати в будь-якій точці дому, але не на лінії дому і не впритул до прицільних куль, що знаходяться в домі.</p>
        <p>6.2. Якщо при установці битка в домі зачеплена будь-яка з куль, то накладається штраф і після зняття штрафної кулі право введення битка в гру ударом з руки з дому переходить до суперника.</p>
        <p>6.3. Якщо биток встановлений поза домом, то суддя або суперник повинні попередити про це гравця, що вступає в гру до нанесення їм удару. В іншому випадку вважається, що биток встановлений правильно.</p>
        <p>6.4. До тих пір поки биток не введений в гру, його можна поправляти рукою і києм (включаючи наклейку), однак після того як биток встановлений, будь-який удар по битку розглядається як введення його в гру.</p>
        <p>6.5. Забивати в будь-яку лузу можна будь-яку кулю після зіткнення битка з будь-якою, розташованою поза домом прицільною кулею.</p>
        <p>6.6. Удар з дому вважається неправильним і карається штрафом, якщо:</p>
        <p>(1) биток до виходу з дому торкнувся кулі в домі; або</p>
        <p>(2) не торкнувся жодної кулі поза домом.</p>
        <p>6.6. Якщо всі прицільні кулі розташовані в домі, то удар проводиться з протилежного боку столу, яка в цьому випадку служить тимчасовим домом,який &nbsp;обмежений задньою лінією.</p>
        <p><strong>7. Ведення рахунку.</strong> За кожну правильно забиту в лузу кулю гравцеві зараховується одне очко. У разі порушення правил до поточного рахунку суперника порушника додається одне очко.</p>
        <p><strong>8. Штрафи за порушення.</strong></p>
        <p>8.1. У разі порушення правил суперник порушника знімає зі столу будь-яку кулю (на власний вибір) і кладе на свою полицю. Така куля називається штрафною. Вона знімається після виставлення всіх неправильно забитих і куль, що вискочили.</p>
        <p><span style="text-decoration: underline;">Примітка</span>: Штрафна куля повинна бути знята до нанесення наступного удару, в іншому випадку вона залишається на столі і рахунок в партії не змінюється.</p>
        <p>8.2. Якщо биток забитий неправильно або вискочив за борт, то після зняття штрафної кулі вступає в гру суперник, вводить биток в гру ударом з руки з дому відповідно до п. 6.</p>
        <p><strong>9. Виставляння куль.</strong> Всі неправильно забиті, що вискочили прицільні кулі виставляються відповідно до п. 25 «Загальних правил піраміди».</p>
        <p>&nbsp;</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>


<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>

