﻿
@{
    ViewBag.Title = "DynamicPyramid";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/DynamicPyramid">
                Динамічна піраміда
            </a>
        </h2>




        <p><strong>«ДИНАМІЧНА ПІРАМІДА»</strong></p>
        <p>При грі в «динамічну піраміду» слід керуватися "Загальними правилами піраміди», а також нижченаведеними правилами.</p>
        <p><strong>1. Мета гри.</strong> Першим (раніше суперника) набрати вісім очок.</p>
        <p><strong>2. Кулі, які використовуються.</strong> Стандартний набір з шістнадцяти пірамідних більярдних куль: п'ятнадцять білих (кольори слонової кістки), які використовуються як прицільні, і одна кольорова (переважно жовта) куля без номера, який використовується в якості битка.</p>
        <p><strong>3. Вихідна розстановка куль.</strong> (Див. П.9.1 і п.9.2 «Загальних правил піраміди»)</p>
        <p><strong>4. Початковий удар</strong>. Початковий удар проводиться з руки з дому відповідно до п.13 «Загальних правил піраміди».</p>
        <p><strong>5. Правила ведення гри:</strong></p>
        <p>5.1. Забивати в лузу можна як будь-яку прицільну кулю, так і биток від будь-якої прицільної кулі.</p>
        <p>5.2. На заміну забитого битка гравець знімає зі столу одну з прицільних куль за своїм вибором і вводить биток в гру ударом з руки відповідно до п. 6, при цьому забивати в лузу можна тільки прицільну кулю.</p>
        <p><span style="text-decoration: underline;">Примітка:</span> Обрана прицільна куля повинна бути знята до нанесення наступного удару, в іншому випадку вона залишається на столі і рахунок в партії не змінюється.</p>
        <p>5.3. Оголошувати замовлення не потрібно. При правильному ударі зараховуються всі кулі, які впали в лузи.</p>
        <p>5.4. Будь-який удар (за винятком початкового) повинен завершитися в повній відповідності з п. 20 «Загальних правил піраміди». В іншому випадку - штраф.</p>
        <p><strong>6. Введення битка в гру ударом з руки</strong></p>
        <p>6.1. При ударі з руки биток можна встановлювати в будь-якій точці ігрової поверхні столу, але не впритул до прицільних куль.</p>
        <p>6.2. Якщо при установці битка зачеплена будь-яка з куль, то накладається штраф і після знятої штрафної кулі право введення битка в гру ударом з руки переходить до суперника.</p>
        <p>6.3. До тих пір поки биток не введений в гру, його можна поправляти рукою і києм (включаючи наклейку), однак після того як биток встановлений, будь-який удар по битку розглядається як введення його в гру.</p>
        <p>6.4. При ударі з руки забивати в лузу можна тільки прицільну кулю.</p>
        <p>6.5. Якщо при ударі з руки в лузу падає биток, то удар вважається неправильним і штрафується (див. п.8). Після зняття штрафної &nbsp;кулі суперник вводить биток в гру ударом з руки з будь-якого місця столу.</p>
        <p>6.6. Якщо при ударі з руки крім битка в лузу падає і прицільна куля, то вона не зараховується і виставляється. Після виставлення неправильно забитого прицільного і зняття штрафної прицільної кулі суперник вводить биток в гру ударом з руки з будь-якого місця столу.</p>
        <p><strong>7. Ведення рахунку.</strong> За кожну правильно забиту в лузу кулю гравцеві присуджується одне очко. У разі порушення правил і зняття штрафної &nbsp;кулі до поточного рахунку суперника додається одне очко.</p>
        <p><strong>8. Штрафи за порушення.</strong></p>
        <p>8.1. У разі порушення правил суперник знімає зі столу будь-яку прицільну кулю (на власний вибір) і кладе її на свою полицю. Така куля називається <em>штрафною</em>. Вона знімається після виставлення всіх неправильно забитих і куль, що вискочили.</p>
        <p><span style="text-decoration: underline;">Примітка</span>: Штрафна куля повинна бути знята до нанесення наступного удару, в іншому випадку вона залишається на столі і рахунок в партії не змінюється.</p>
        <p>8.2. Якщо биток забитий неправильно або вискочив за борт, то після зняття штрафної кулі суперник має право:</p>
        <p>(а) ввести биток в гру ударом з руки з будь-якого місця столу (при цьому забивати в лузу можна <em>тільки </em>прицільну кулю), або</p>
        <p>(б) передати удар з руки з будь-якого місця столу гравцеві, який порушив правила (при цьому забивати в лузу можна <em>тільки</em> прицільну кулю).</p>
        <p>8.3 Якщо після порушення биток залишився на столі, то після <em>зняття штрафної кулі </em>суперник має право:</p>
        <p>(А) продовжити гру ударом з місця зупинки битка (при цьому забивати в лузу можна як биток, так і прицільну кулю), або</p>
        <p>(Б) передати удар з місця зупинки битка гравцеві, який порушив правила (при цьому забивати в лузу можна як биток, так і прицільну кулю).</p>
        <p><strong>9. Виставляння куль.</strong> Всі неправильно забиті, що вискочили прицільні кулі виставляються відповідно до п. 25 «Загальних правил піраміди».</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>

    <style>
        body {
            background-color: darkgreen;
        }

        .block {
            background-color: white;
        }
    </style>
