﻿
@{
    ViewBag.Title = "FiveChips";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/FiveChips">
                Пять фишек
            </a>
        </h2>







        <div style="margin-bottom: 10px;" align="right"><a href="http://www.umb.org/Rules/5Pin_Rules.pdf" target="_blank"><em> www.umb.org - World rules of 5-pin billiard</em></a></div>
        <p>Международные правила игры в «5 фишек» дополняют устав и регламент <a href="http://www.umb.org/" title="Union Mondiale di Billiard"> UMB</a>. Эти правила применяются на всех чемпионатах мира и официальных международных турнирах, признанных <a href="http://www.umb.org/" title="Union Mondiale di Billiard">UMB</a>. В отношении особых случаев игры, не предусмотренные настоящими правилами, международные правила судейства дают право судье самому выносить по ним решение, однако, оно должно быть зафиксировано в протоколе встречи.</p>
        <p>В случае возникновения непредвиденных обстоятельств по соревнованию в целом, решение принимает официальный представитель <a href="http://www.umb.org/" title="Union Mondiale di Billiard">UMB</a> (в нашем случае представитель НФБСУ) после консультации с официальным представителем федерации - организатором и директором турнира (Главным судьёй)</p>
        <p><strong>§ 1. РАЗМЕТКА ТОЧЕК И ЛИНИЙ</strong></p>
        <p>а) Места, где устанавливаются фишки (кегли) помечаются отметками (всего пять отметок), проведёнными мелом, карандашом или чернилами, по возможности тонко. Запрещается помечать эти места путём установки наклеек.</p>
        <p>Кроме того, отмечаются:</p>
        <p>б) верхняя отметка, на расстоянии 100 мм от верхнего короткого борта ( на средней лини - 710 мм от длинного борта),</p>
        <p>в) отметка, расположенная в центре верхней половине игрового поля стола - на ней располагается красный шар,</p>
        <p>г) отметка, расположенная в центре нижней части бильярда, расположенная на линии установки шаров при розыгрыше начального удара 710 мм от нижнего короткого борта,</p>
        <p>д) нижняя отметка, на расстоянии 100 мм от нижнего короткого 6opта - на ней устанавливается шар соперника, при игре „с руки", если верхняя отметка занята красным шаром и игрок решает играть в положении как при начальном ударе,</p>
        <p>е) линии разметок проводятся мелом, карандашом или чернилами, по возможности тонко.</p>
        <p>Укладывание других предметов разрешается только для линий на полу: <br>- средняя линия делит игровое поле на 1/2 части; <br>- линия размещения шаров соперника при розыгрыше начального удара; <br>- граница размещения ног при выполнении начального удара и удара «с руки». <br><br><strong>§ 2. ЦЕЛЬ ИГРЫ</strong></p>
        <p>Цель игры состоит в достижении количества очков, установленного «Положением» о соревновании. Игрок, достигшим первым установленное количество очков, выигрывает партию. Если во время последнего удара этот предел превышается, то общее количество очков у победителя сводится к этому установленному пределу.</p>
        <p>Играют по партиям, общее количество которых должно быть нечётное (или играют по турам, общее количество которых также должно быть нечётным).</p>
        <p>Удары наносят поочерёдно, только наклейкой кия.</p>
        <p><br><br><strong>§ З. РОЗЫГРЫШ НАЧАЛЬНОГО УДАРА</strong></p>
        <p>Судья устанавливает шары игроков на линии розыгрыша на расстоянии 30 см от метки, расположенной на середине линии розыгрыша.</p>
        <p>Красный шар устанавливается на отметку, расположенную в центре верхней половины игрового поля стола.</p>
        <p>Устанавливаются на свои места 4 боковые и одна центральная фишка (кегля).</p>
        <p>Если игроки не приходят к согласию кому каким шаром играть, а также с какой половины начинать розыгрыш начального удара, то судья определяет это жребием.</p>
        <p>По команде судьи оба игрока примерно одновременным ударом посылают свои битки к верхнему борту, при этом оба шара должны быть в движении, прежде чем один из них достигнет верхнего борта. Если это правило нарушено, то розыгрыш повторяется . Игрок, который дважды нарушил это правило, проигрывает розыгрыш, т.е. теряет право выбора -либо самому сделать начальный удар или уступить его сопернику.</p>
        <p>Розыгрыш считается проигранным: <br>- если шар игрока сталкивается с красным шаром или с одной или с несколькими фишками; <br>- если шар игрока коснулся длинного борта; <br>- если шар игрока зашёл на половину соперника и коснулся его шара.</p>
        <p>Если же шары игроков сталкиваются и нельзя определить виновного, или если шары останавливаются на одинаковом расстоянии от нижнего борта, то розыгрыш повторяется.</p>
        <p>Игрок, чей шар остановился ближе к нижнему борту, имеет право произвести начальный удар или уступить его сопернику.</p>
        <p><br><br><strong>§ 4. ПОЗИЦИЯ ПРИ НАЧАЛЬНОМ УДАРЕ</strong></p>
        <p>Шар игрока, который должен произвести начальный удар, располагается в любой части нижней половины игрового поля стола. Шар соперника - на верхней отметке у короткого верхнего борта. Красный шар - на отметке в центре верхней половины игрового поля стола.</p>
        <p>Игрок, который начинает партию, установку битка производит только кием, в любой части нижней половины игрового поля, причём никакая часть этого шара не должна заходить за линию середины игрового поля.</p>
        <p>В момент начального удара, по крайней мере одна нога игрока, должна находиться в зоне расположения ног, ограниченной перед столом продолжением линии длинного борта. После установки своего шара (битка) игрок должен играть им так, чтобы он вначале коснулся шара соперника.</p>
        <p>Во время одной встречи игрок производит удары одним и тем же битком.</p>
        <p>Начальный удар игроки производят по очереди, независимо от количества партий. При выполнении начального удара присваиваются очки.</p>
        <p>Возможен перерыв на 5 минут после второй партии, если встреча состоит из трёх партий (перед контровой), если из 5 партий, то после второй и перед пятой-контровой.</p>
        <p><br><br><strong>§ 5. ПРАВИЛЬНЫЙ УДАР</strong></p>
        <p>Удар считается правильным и игроку присваиваются положительные очки:</p>
        <p>а) если биток игрока касается шара соперника, а затем сбивает шаром соперника фишки (кегли);</p>
        <p>б) если биток игрока касается шара соперника, затем касается красного шара, а затем шар соперника и (или) красный шар сбивает фишки (кегли).</p>
        <p>в) если биток игрока касается шара соперника, затем шар соперника касается красного шара, а затем шар соперника и (или) красный шар сбивают фишки (кегли);</p>
        <p>г) если биток игрока касается шара соперника, затем красного шара, который получает удар от шара соперника, а затем фишки (кегли) сбивает шар соперника и (или) красный шар.</p>
        <p>д) если биток игрока касается шара соперника, а затем красного шара;</p>
        <p>е) если биток игрока касается шара соперника, а затем шар соперника касается красного шара.</p>
        <p>ж) если биток касается шара соперника, затем красного шара и в это же время шар соперника тоже касается красного шара.</p>
        <p>Удар считается правильным но не приносит ни одного очка: если при выполнении своего удара биток игрока касается только шара соперника, а тот не сбивает фишки (кегли) и не касается красного шара.</p>
        <p><br><br><strong>§ 6. НЕПРАВИЛЬНЫЙ УДАР</strong></p>
        <p>Удар считается неправильным и даёт очки «промаха» тому, кто его произвёл и столько же положительных очков присваивается сопернику:</p>
        <p>а) если биток игрока не касается шара соперника;</p>
        <p>б) если биток игрока до касания шара соперника касается касается красного шара, а затем биток и (или) красный шар сбивает фишки (кегли);</p>
        <p>в) если биток игрока после касания шара соперника сбивает фишки (кегли) и при этом шар соперника и (или) красный шар сбивает фишки;</p>
        <p>г) если игрок производит удар не своим шаром;</p>
        <p>д) если игрок совершает одну или несколько ошибок, указанных в соответствующем пункте и при этом во время данного удара достигаются положительные очки или нет.</p>
        <p><br><br><strong>§ 7. ПРИСВОЕНИЕ ОЧКОВ:</strong></p>
        <p>а) 3начение очков фишек (кеглей): <br>- боковые фишки (кегли) - каждая 2 очка; <br>- центральная фишка (кегля), сбитая с боковой - 4 очка; <br>- центральная фишка, сбита одна, при этом расположение фишек (кеглей) (фигура) полная или нет - 8 очков;</p>
        <p>б) Значение очков карамболя: <br>- карамболь битка о шар соперника, а затем в красный шар - 4 очка; <br>- карамболь «рикошет», когда биток касается о шар соперника, а затем шар соперника касается красного шара - 3 очка.</p>
        <p>Для присвоения количества очков карамболя принимается во внимание только выполнение одного из вышеуказанных положений.</p>
        <p>Очки фишек (кеглей) и карамболя складываются для получения суммарного количества очков, полученных при одном ударе.</p>
        <p>При присвоении очков судья называет фамилию игрока, аналогично он поступает при присвоении суммарных очков ошибок в пользу соперника.</p>
        <p><br><br><strong>§ 8. ОТКАЗ ОТ ИГРЫ ВО ВРЕМЯ ПАРТИИ</strong></p>
        <p>а) Игрок, который покидает своё место во время партии без разрешения судьи проигрывает эту партию - ему засчитывается поражение;</p>
        <p>б) Любой игрок, отказавшийся продолжать партию после указания судьи, исключается из соревнования.</p>
        <p><br><br><strong>§ 9. ШАРЫ В КОНТАКТЕ</strong></p>
        <p>Если биток игрока находится в контакте с одним или двумя шарами, игрок не имеет права посылать его прямо на этот или эти шары.</p>
        <p>Если биток игрока находится в контакте с бортом, то он не имеет права играть на этот борт.</p>
        <p>Для выполнения ударов по п. 10.1. и 10.2. игрок должен играть по битку, либо отделением его от соприкасающегося шара или ударом сверху («Массе»), но так чтобы не стронуть шар, находящихся в контакте с битком. Не ошибка, если шар находящийся в контакте с битком только шевельнётся из-за того, что теряет точку опоры, которой ему был биток (см. п. 41, подпункт 3 «Правил» WCBC).</p>
        <p>Если в случае положения «шар в контакте» нет возможности совершить удар без ошибки, в этом случае судья устанавливает три шара в начальное положение. При выполнении этого удара соответственно игрок не может получить положительные очки, он может сделать только отыгрыш.</p>
        <p><br><br><strong>§ 10. ВЫСКОЧИВШИЕ ШАРЫ</strong></p>
        <p>Шар считается выскочившим из бильярда, если он покидает бильярд или касается материала обрамления борта.</p>
        <p>Сам факт выскакивания шара считается ошибкой (2 очка).</p>
        <p>Если один или несколько шаров выскакивает из бильярда, то судья возвращает выскочившие шары на бильярд для удара «с руки»;</p>
        <p>а) Если выскочил биток игрока, то судья устанавливает его на отметку возле короткого борта, противоположной той, где находится шар соперника, которых должен произвести удар «с руки». Если эта отметка занята или закрыта, то шар устанавливается на отметку, соответствующую шару, который занял или закрыл эту отметку у короткого борта.</p>
        <p>б) Если выскочил шар соперника, то его размещают для удара «с руки» в части бильярда, противоположной той, где находится шар игрока, который только что совершил удар.</p>
        <p>в) Если выскочил красный шар, то судья устанавливает его в начальное положение на отметку, где установлен красный шар. Если отметка занята или закрыта, то красный шар устанавливается на отметку, соответствующую шару, который занимает или закрывает отметку. Судья устанавливает шар игрока для удара «с руки» в часть бильярда, противоположную той, где находится шар игрока, который только что произвёл удар (и выскочил красный шар). <br><br><strong>§ 11. ИГРА «С РУКИ»</strong></p>
        <p>Если игрок совершает ошибку, его соперник получает возможность играть «с руки» за исключением ошибки, когда шар игрока после правильного касания шара соперника сбивает фишки (кегли)</p>
        <p>В конце неправильного удара игрока судья берёт в руку шар соперника, который должен производить следующий удар и кладёт его свободно в половину игрового поля стола, противоположную той, где находится шар игрока, совершившего ошибку. (Шар нарушителя остаётся в своём положении).</p>
        <p>Игрок, производящий удар после удара нарушителя, устанавливает свой шар только с использованием кия в половине игрового поля, где положил этот шар судья, при этом никакая часть этого шара не должна выходить за среднюю линию бильярда.</p>
        <p>Если шар нарушителя находится точно на средней линии бильярда, тогда шар игрока, производящего удар, устанавливается свободно в нижней половине игрового поля как для начального удара.</p>
        <p>Игрок, который должен произвести удар «с руки», решает сам, играть с руки в соответствии с вышеуказанным положением или попросить (потребовать) судью установить шар нарушителя на своё начальное положение - на верхнюю отметку у верхнего короткого борта. Если это положение занято красным шаром, тогда шар нарушителя устанавливается в другой части бильярда на соответствующую отметку, в этом случае игровой шар располагается в другой половине бильярда.</p>
        <p>Если игрок, который должен произвести удар «с руки» касается своего игрового шара до того, как судья его установит, игрок штрафуется и удар «с руки» переходит к сопернику.</p>
        <p><br><br><strong>§ 12. ИНДИКАЦИЯ ШАРА</strong></p>
        <p>По просьбе игрока судья должен показать ему свой игровой шар.</p>
        <p><br><br><strong>§ 13. МЕСТО ИГРОКА</strong></p>
        <p>Игрок, не выполняющий удар, должен ожидать своего удара стоя или сидя, на местах, предусмотренных для этого, воздерживаясь от жестов и не производить шум, который может мешать его сопернику.</p>
        <p><br><br><strong>§ 14. 0ШИБКИ (ШТРАФЫ)</strong></p>
        <p>Если при проведении своего удара игрок делает несколько ошибок, то значение очков каждой ошибки складывается и начисляется сопернику.</p>
        <p>Бывает ошибка со штрафом только очков фишек (кеглей) и возможно карамболя без приведения игры «с руки» и без другого дополнительного штрафа: - если игровой шар (биток) после правильного касания шара соперника сбивает фишки (кегли) (а возможно и делает карамболь) судья обозначает «фишки».</p>
        <p>Все ошибки ведут к штрафу - 2 очка и плюс при случае, очков фишек (кеглей) и (или) «красного шара» (карамболя), которые были получены. <br><br></p>
        <p>Следующие ошибки дают сопернику помимо упомянутых очков дополнительно ещё 2 очка и возможность играть «с руки»</p>
        <p>а) если судья устанавливает, что игрок производит удар не своим шаром судья обозначает - «неправильный шар»</p>
        <p>б) если игрок вначале попадает битком в красный шар до касания шара соперника. Решение судьи - «красный шар» <br>За касание красного шара в этом случае налагается дополнительный штраф - 2 очка (итого 4 очка). 2 очка за промах + 2 очка за карамболь.</p>
        <p>в) если игрок сбивает своим битком вначале фишки, а затем касается им шара соперника судья обозначает «фишки»</p>
        <p>г) если игрок не попал или попал неправильно в шар соперника судья обозначает «шар соперника»</p>
        <p>д) если при выполнении удара выскакивает за пределы бильярда один или несколько шаров, то штраф в 2 очка накладывается независимо от количества выскочивших шаров. Судья обозначает «выскочивший шар»</p>
        <p>е) если игрок производит удар до того, как все три шара остановились Обозначается «шары в движении»</p>
        <p>ж) если игрок при проведении удара наносит удар не наклейкой кия, а другой частью кия обозначается «наклейка»</p>
        <p>з) если при выполнении одного удара игрок касается наклейкой кия своего шара более одного раза. Обозначается «касание» - у нас «двойной удар»</p>
        <p>и) если игрок прикоснулся к шару или фишке (кегле) с целью почистить их от грязи, вместо того, чтобы попросить об этом судью. Обозначает «касание» - туш</p>
        <p>к) если игрок смещает шар или фишку (кеглю) прямым или косвенным путём (мелком и т. д.), если это смещение не является следствием проведения удара - обозначается - «касание»-туш</p>
        <p>л) если игрок бьёт своим шаром прямо на шар соперника, соприкасающийся с битком или играет прямо на борт своим шаром, соприкасающимся с бортом. решение: «шар в контакте» (пропих)</p>
        <p>м) если в момент удара по шару при начальном ударе или ударе «с руки» хотя бы одна нога игрока не касается пола или (при начальном ударе или «с руки» игрок выходит за установленные границы всей или частью ноги (переступит частично или полностью черту на полу). Применение специальной обуви не разрешается.</p>
        <p>н) если при установке игрового шара (битка) для выполнения начального удара или «с руки», игрок касается этого шара чем-то другим, а не кием, или (и касается этого шара до того, как судья установит его в положение игры «с руки» Обозначается: «касание» - туш</p>
        <p>о) если игровой шар перепрыгнул через фишки (кегли) или (и красный шар, прежде чем коснулся шара соперника обозначается: «перепрыгивание шара» <br><em>Примечание: при условии, что не будет опрокинута ни одна фишка (кегля), проход между фишками (кеглями) при нормальном прокатывании игрового шара по бильярду не считается ошибкой, а действительным (засчитываемым) ударом.</em></p>
        <p>п) если игрок касается любого шара ( за исключением наклейки кия своего шара при ударе) или фишки (кегли) до, во время или после удара -кием, рукой, одеждой, машинкой и т.д.</p>
        <p>р) если игрок делает пропих - толкает два шара одновременно.</p>
        <p>&nbsp;</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>

<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>

