﻿
@{
    ViewBag.Title = "FreePyramid";
}


<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/FreePyramid">
                Вільна піраміда
            </a>
        </h2>


        <p><strong>«ВІЛЬНА ПІРАМІДА»</strong></p>
        <p>При грі в «Вільну піраміду» слід керуватися "Загальними правилами піраміди», а також нижченаведеними правилами.</p>
        <p><strong>1. Мета гри.</strong> Першим (раніше суперника) набрати вісім очок.</p>
        <p><strong>2. Кулі, які використовуються.</strong> Стандартний набір з шістнадцяти пірамідних більярдних куль: п'ятнадцять білих (кольори слонової кістки) куль і одна кольорова (переважно жовта) куля без номера.</p>
        <p>В «Вільній піраміді» немає постійного підрозділу куль на єдиний биток (по якому б'ють києм) і прицільні кулі (по яких б'ють битком).</p>
        <p>При виконанні будь-якого удару (за винятком початкового) гравець може використовувати в якості битка будь-яку кулю на ігровій поверхні столу (незалежно від її номера і кольору). Відповідно всі інші кулі на ігровій поверхні столу (незалежно від їх номера і кольору) можуть служити як прицільні.</p>
        <p><strong>3. Вихідна розстановка куль.</strong> (Див. п.9.1 і п.9.2 «Загальних правил піраміди»)</p>
        <p><strong>4. Початковий удар.</strong> Початковий удар проводиться з руки з дому відповідно до п.13 «Загальних правил піраміди».</p>
        <p><strong>5. Правила ведення гри:</strong></p>
        <p>5.1. Перед кожним ударом (за винятком початкового) гравцеві надається право вибору битка.</p>
        <p>5.2. Якщо в результаті правильного удару в лузу а куля, то гравець проводить наступний удар з відновленням права вибору битка.</p>
        <p>5.3. Якщо при правильному ударі жодна з куль не забита в лузу, то право наступного удару c правом нового вибору битка переходить до суперника.</p>
        <p>5.4. Забивати в лузу можна як будь-яку прицільну кулю, так і биток від будь-якої прицільної кулі.</p>
        <p>5.5. Оголошувати замовлення не потрібно. При правильному ударі зараховуються всі кулі, що впали в лузи.</p>
        <p>5.6. Будь-який удар (за винятком початкового) повинен завершитися в повній відповідності до п.20 «Загальних правил піраміди». В іншому випадку - штраф.</p>
        <p><strong>6. Ведення рахунку. </strong>За кожну правильно забиту в лузу кулю гравцеві зараховується одне очко. У разі порушення правил до поточного рахунку суперника порушника додається одне очко.</p>
        <p><strong>7. Штрафи за порушення.</strong> У разі порушення правил суперник порушника знімає зі столу будь-яку кулю (на власний вибір) і кладе на свою полицю. Такий шар називається штрафним. Вона знімається після виставлення всіх неправильно забитих і куль, що вискочили.</p>
        <p><span style="text-decoration: underline;">Примітка:</span> Штрафна куля повинна бути знята до нанесення наступного удару, в іншому випадку вона залишається на столі і рахунок в партії не змінюється.</p>
        <p><strong>8. Виставляння куль</strong>. Всі неправильно забиті кулі, що вискочили, виставляються відповідно до п. 25 «Загальних правил піраміди». Будь яка виставлена куля може бути обрана граючою як биток або прицільна куля.</p>
        <p>&nbsp;</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>

    <style>
        body {
            background-color: darkgreen;
        }

        .block {
            background-color: white;
        }
    </style>
