﻿
@{
    ViewBag.Title = "GeneralPoolRules";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/GeneralPoolRules">
                Общие правила пула
            </a>
        </h2>



        <center>Настоящие правила являются общими для всех разновидностей пула.</center><dl><dt><strong>§1. Бильярдное оборудование.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Все описанные ниже бильярдные игры должны проводиться с использованием пуловских столов, шаров и оборудования, отвечающих стандартам Всемирной ассоциации пула или BCA.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§2. Расстановка.</strong></dt><dd>&nbsp;&nbsp;&nbsp;При расстановке шаров должен использоваться треугольник, а передний шар должен располагаться на задней отметке. Все остальные шары должны быть выстроены за передним и плотно прижаты друг к другу.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§3. Удар по битку.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Удар по битку следует наносить лишь наклейкой кия. В противном случае объявляется фол.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§4. Промах по лузе.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Если игрок промахивается при правильном ударе, то есть, не забивает прицельный шар, то его серия заканчивается, и в игру вступает соперник.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§5. Розыгрыш начального удара.</strong></dt><dd>&nbsp;&nbsp;&nbsp;При розыгрыше начального удара (разбития) используется следующая процедура. Взяв по шару одинакового размера и веса (желательно два битка или, по крайней мере, два не полосатых прицельных шара) и расположив их по разные стороны от передней отметки, игроки одновременно выполняют удар с руки из-за передней линии (из дома), посылая шары к заднему борту и обратно. <br>&nbsp;&nbsp;&nbsp;Побеждает игрок, чей шар остановился ближе к переднему борту. При этом шар должен коснуться заднего борта, по крайней мере, один раз. Розыгрыш считается автоматически проигранным, если: <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) шар зашел на половину соперника, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) не достиг заднего борта, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3) упал в лузу, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4) выскочил за борт, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5) коснулся длинного борта, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(6) остановился в створе угловой лузы за губой переднего борта или <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(7) коснулся заднего борта два раза и более. <br>&nbsp;&nbsp;&nbsp;Если правила нарушили оба соперника, или если судья не может определить, чей шар остановился ближе к переднему борту, то розыгрыш повторяется.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§6. Начальный удар (Разбитие).</strong></dt><dd>&nbsp;&nbsp;&nbsp;Право на выполнение начального удара предоставляется по результатам розыгрыша или жребия (розыгрыш проводится в обязательном порядке при проведении официальных соревнований). Выигравший розыгрыш или жребий имеет право произвести начальный удар либо уступить его сопернику. Введение битка в игру производится ударом с руки из дома. При этом прицельные шары расставляют согласно правилам каждой конкретной игры. Биток считается введенным в игру после того, как он пересек переднюю линию в результате удара по нему наклейкой кия.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§7. Удар с руки из дома.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Удар с руки из дома выполняется в начале игры и после падения битка в лузу в специально оговоренных правилами каждой конкретной игры случаях. Вступающий в игру участник может располагать биток в любом месте дома. Он может наносить удар по любому прицельному шару, центр которого располагается вне дома (в том числе и на передней линии). Наносить удар по прицельным шарам, находящимся в доме, можно лишь в том случае, если биток вначале выходит из дома, а затем, ударившись о задний борт, возвращается обратно в дом. Положение шара определяется положением его центра (или точки касания шара с игровой поверхностью). До пересечения передней линии биток не должен задевать расположенные в доме прицельные шары. <br>&nbsp;&nbsp;&nbsp;Биток считается введенным в игру после того, как он покинул пределы дома в результате удара по нему наклейкой кия. Пока биток не введен в игру, его можно поправлять рукой, кием и т.п. Однако любое касание битка после введения его в игру влечет за собой фол.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§8. Игра с руки.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Если правила конкретной игры предусматривают игру с руки после объявления фола, то вступающий в игру соперник может располагать биток в любом месте на игровой поверхности стола и производить удар по любому прицельному шару.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§9. Сыгранные шары.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Шар считается сыгранным (забитым), если в результате правильного удара он падает в лузу. Шар, выскочивший из лузы на игровую поверхность стола, считается несыгранным.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§10. Положение шаров.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Положение шара определяется положением его нижней точки (или центра).</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§11. Касание пола.</strong></dt><dd>&nbsp;&nbsp;&nbsp; При выполнении удара, по крайней мере, одна нога играющего должна касаться пола, в противном случае налагается штраф.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§12. Выполнение удара до остановки шаров.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Игрок наказывается фолом, если наносит удар до полной остановки битка или любого прицельного шара, (вращающийся на месте шар считается движущимся.)</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§13. Завершение удара.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Удар считается завершенным лишь после полной остановки всех шаров на игровой поверхности стола.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§14. Дом и передняя линия.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Передняя линия не является частью дома. Поэтому если правила игры требуют, чтобы удар наносился по шарам вне дома, то прицельный шар, расположенный в точности на передней линии, играется. Соответственно и биток при введении в игру из дома (с руки из-за передней линии) не следует ставить непосредственно на переднюю линию, а чуть ближе.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§15. Общее правило для всех нарушений.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Хотя в конкретных бильярдных играх за одно и то же нарушение могут налагаться различные штрафы, для всех нарушений справедливо следующее общее правило: <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) право удара переходит к сопернику, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) ни один забитый шар не засчитывается, и <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) любой шар (шары) выставляются лишь в том случае, если это предусмотрено правилами конкретной игры.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§16. Промах по легальному шару.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Удар считается неправильным, если биток не коснулся ни одного из легальных (очередных) прицельных шаров, то есть шаров, первое касание с которыми предусмотрено правилами конкретной игры. Игра в сторону от расположенного вплотную к битку прицельного шара не считается за удар по этому шару.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§17. Правильный удар.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Удар считается правильным, если биток коснулся вначале легального (очередного) прицельного шара, а затем либо <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) один из прицельных шаров упал в лузу, либо <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) биток или какой-либо из прицельных шаров доведены до борта. <br>&nbsp;&nbsp;&nbsp;Невыполнение этих требований влечет за собой фол.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§18. Падение битка в лузу.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если при ударе биток падает в лузу, то объявляется фол.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§19. Запрет касания шаров.</strong></dt><dd>&nbsp;&nbsp;&nbsp; За касание во время игры любого прицельного шара или битка телом, одеждой, мелом, машинкой, древком кия и т.п. налагается штраф. Касаться битка можно лишь наклейкой кия при выполнении правильного удара.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§20. Запрет двойных ударов.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если при выполнении удара наклейка кия касается битка более одного раза, а также если наклейка касается битка, в то время как биток касается (или после того, как биток уже коснулся) прицельного шара, то налагается штраф. Если же вплотную к битку располагается какой-либо нелегальный прицельный шар, то удар следует наносить в сторону от него, в противном случае налагается штраф.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§21. Запрет толчка.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если игрок проталкивает биток вперед, затягивая время контакта наклейки кия с битком несоразмерно ударно-маховому движению, то налагается штраф.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§22. Правильный перескок.</strong></dt><dd>&nbsp;&nbsp;&nbsp; При правильном перескоке удар должен наноситься приподнятым кием в верхнюю половину шара. Однако любой кикс, то есть проскальзывание наклейки кия по поверхности битка, при выполнении перескока штрафуется. Выполнение перескока какими-либо иными способами запрещается.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§23. Выскочившие шары.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Выскочившими считаются шары, остановившиеся после удара вне игровой поверхности стола (на упругом борту, на поручне, на полу и т. д.). Шар не считается выскочившим, если он, ударившись о верхнюю часть упругого борта или поручня, самостоятельно возвращается вновь на игровую поверхность, не задев при этом какой-либо иной объект, не являющийся стационарной принадлежностью стола. (Если же шар задевает какой-либо предмет, не являющийся принадлежностью стола, например, осветительный прибор, мел на борту или поручне и т. п., то он считается выскочившим, даже если он после этого самостоятельно возвращается на игровую поверхность). Во всех лузных бильярдных играх удар, в результате которого биток или какой-либо из прицельных шаров выскакивает за борт, штрафуется. Все выскочившие прицельные шары выставляются после полной остановки всех шаров на игровой поверхности стола. Выскочивший биток вводится в игру в соответствии с правилами каждой конкретной игры.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§24. Одновременное нарушение нескольких правил.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если при выполнении удара нарушено сразу несколько правил, то игрок наказывается одним фолом, при этом налагается самый строгий штраф, предусмотренный за самое грубое из совершенных при ударе нарушений.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§25. Самопроизвольное перемещение шаров.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если шар смещается, скатывается, поворачивается или же каким-либо иным способом движется самопроизвольно, то его оставляют там, где он остановится, и игра продолжается. Если зависший над лузой шар остается неподвижным в течение пяти секунд и более, а затем падает в лузу, то его следует восстановить на прежнем месте и продолжить игру. Если при выполнении удара прицельный шар самопроизвольно падает в лузу до соударения с битком, то биток и прицельный шар восстанавливают на исходных позициях, после чего удар повторяется. Так же поступают и при самопроизвольном смещении в момент удара любого другого прицельного шара.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§26. Выставление шаров.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если согласно правилам какой-либо конкретной игры необходимо выставить один или несколько шаров, то после завершения удара они располагаются на продольной линии следующим образом: шар с наименьшим номером ставят на заднюю отметку, а остальные в порядке возрастания номеров располагают друг за другом в направлении заднего борта. Если же находящиеся на столе шары не позволяют в точности выполнить указанное требование, то выставляемые шары располагают на продольной линии как можно ближе к задней отметке вплотную к мешающим прицельным шарам, не сдвигая их. Если мешает биток, то выставляемые шары располагают как можно ближе к нему, но не вплотную. <br>&nbsp;&nbsp;&nbsp;В случае если для выставляемых шаров не хватает места между задней отметкой и задним бортом, то шары выставляют на продолжении продольной линии перед задней отметкой (между задней отметкой и центром) как можно ближе к ней, при этом шар с наименьшим номером должен находиться спереди,а остальные в порядке возрастания номеров располагаются друг за другом в сторону задней отметки.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§27. Шары, упавшие вместе с сыгранными.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если при выполнении правильного удара наряду с сыгранным в лузы падают и другие прицельные шары, то они засчитываются в соответствии с правилами каждой конкретной игры.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§28. Вмешательство постороннего.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если во время игры шары приходят в движение вследствие вмешательства постороннего лица (непосредственно или путем какого-либо воздействия на игрока, выполняющего удар), то их возвращают на исходные позиции, и игра продолжается, причем штраф за это не налагается. Если игра официальная, то позицию восстанавливает судья. Это правило следует применять также при таких чрезвычайных происшествиях, как землетрясение, ураган, падение осветительного прибора, авария и т. п. Если же позицию восстановить невозможно, то партия переигрывается, при этом начальный удар производит тот же самый игрок. <br>&nbsp;&nbsp;&nbsp;Настоящее правило, однако, неприменимо к игре «14+1 с продолжением», в которой одна партия состоит из последовательных пирамид. Поэтому розыгрыш текущей пирамиды прерывается, и начинается розыгрыш новой, при этом право начального удара определяется заново. Счет, однако, сохраняется таким же, каким он был к моменту приостановки партии.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§29. Очередность начального удара.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если встреча проводится до определенного количества побед или сыгранных партий, то победитель каждой отдельной партии производит первый удар в следующей. По усмотрению организаторов соревнований возможны следующие варианты: <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) Игроки разбивают по очереди. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) Разбивает проигравший. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3) Разбивает проигрывающий по партиям.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§30. Вступление в игру соперника.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если игрок не смог правильно забить шар в лузу или же нарушил правила, то в игру вступает соперник. Если правила не нарушены, то соперник принимает сложившуюся на столе позицию.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§31. Шар на борту.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Удар по прицельному шару, расположенному вплотную к борту, должен завершиться <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) падением одного из прицельных шаров в лузу или <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) доведением битка до борта, или <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3) доведением данного прицельного шара до другого борта (с которым он первоначально не находился в контакте), либо <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4) доведением до борта другого прицельного шара. <br>&nbsp;&nbsp;&nbsp;Невыполнение хотя бы одного из этих четырех требований влечет за собой фол. Факт касания прицельным шаром борта должен быть засвидетельствован судьей или одним из игроков, о чем должно быть объявлено до удара.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§32. Установка битка.</strong></dt><dd>&nbsp;&nbsp;&nbsp; При игре с руки установку битка можно производить рукой или любой частью кия (включая наклейку). После установки битка любое движение кия вперед, сопровождающееся касанием битка, рассматривается как начало удара.</dd></dl>
        <p>&nbsp;</p>
        <dl><dt><strong>§33. Вмешательство в игру соперника.</strong></dt><dd>&nbsp;&nbsp;&nbsp; Если игрок отвлекает своего соперника или вмешивается в его игру, то это рассматривается как нарушение. Вмешательством считается нанесение удара вне очереди, а также смещение любого шара во время игры соперника.</dd></dl>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>


<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>

