﻿
@{
    ViewBag.Title = "PoolOfNine";
}
<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/PoolOfNine">
                Пул-девятка (9-ball)
            </a>
        </h2>








        <center>При игре в «Девятку» cледует руководствоваться <br> <a href="/Regulations/GeneralPoolRules">«Общими правилами пула», </a><br> а также нижеследующими правилами:</center><dl><dt><strong>§1. Цель игры.</strong></dt><dd>"Девятка" играется битком и девятью прицельными шарами с номерами от единицы до девяти. При любом ударе биток должен коснуться вначале шара с наименьшим номером, однако шары не обязательно забивать по порядку номеров. Если при правильном ударе в лузу падает какой-либо шар, то игрок остается у стола и продолжает игру до тех пор, пока не совершит промах, нарушит правила или одержит победу, положив в лузу девятку. Вступая в игру после промаха, партнер принимает сложившуюся на столе позицию, однако после совершения его соперником какого-либо нарушения правил он имеет право играть с руки, установив биток в любом месте стола. Объявлять заказ не требуется. Матч заканчивается после того, как один из игроков выиграет заданное число партий.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§2. Расстановка шаров.</strong></dt><dd>Прицельные шары расставляют в форме ромба, при этом единица располагается в вершине ромба на задней отметке, девятка - в центре, а остальные шары в произвольном порядке вплотную друг к другу.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§3. Правильный начальный удар.</strong></dt><dd>Начальный удар подчиняется тем же правилам, что и любой другой удар. Отличие, однако, состоит в следующем: а) Игрок должен попасть по единице и при этом либо забить в лузу какой-либо прицельный шар, либо довести до борта, по крайней мере, четыре прицельных шара. б) Если биток упал в лузу или выскочил за борт, а также если не выполнены требования к начальному удару, то это является нарушением правил, при этом вступающий в игру соперник имеет право играть с руки с любого места стола. в) Если при выполнении начального удара за борт выскакивает прицельный шар, то это также является нарушением, и вступающий в игру соперник играет с руки с любого места стола. Прицельный шар при этом не выставляется (исключение: если за борт выскакивает девятка, то она выставляется).</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§4. Продолжение игры.</strong></dt><dd>При выполнении удара, непосредственно следующего за начальным, игрок имеет право на "пуш-аут". Если игрок при выполнении правильного начального удара положил в лузу хотя бы один прицельный шар, то он продолжает игру до промаха, нарушения или победы в партии. Если игрок промахивается или совершает нарушение, то вступающий в игру соперник начинает свою серию и в свою очередь продолжает игру до промаха, нарушения или победы. Игра заканчивается, если при правильном ударе забита девятка или если одному из игроков засчитывается поражение за серьезное нарушение правил.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§5. Пуш-аут.</strong></dt><dd>Игрок, выполняющий удар непосредственно после правильного начального удара, имеет право сыграть "пуш-аут", суть которого состоит в том, чтобы переместить биток в более выгодное положение с точки зрения дальнейшего развития партии. При выполнении "пуш-аута" биток не обязательно должен коснуться какого-либо шара или дойти до борта, однако все остальные правила действуют. Игрок должен объявить о своем намерении сыграть "пуш-аут" до удара, в противном случае удар рассматривается как обычный. Любой шар, забитый при "пуш-ауте", не засчитывается и остается в лузе, за исключением девятки. После правильного "пуш-аута" вступающий в игру соперник имеет право либо принять позицию и произвести удар по битку, либо уступить удар игроку, сыгравшему "пуш-аут". Если при выполнении начального удара биток упал в лузу, то вступающий в игру соперник не имеет права на "пуш-аут".</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§6. Игра после нарушения.</strong></dt><dd>Если игрок совершает нарушение, то его серия у стола заканчивается, а все неправильно забитые шары остаются в лузах (за исключением девятки, которая выставляется). Вступающий в игру соперник получает право на удар с руки, при этом он может располагать биток в любом месте стола. Несколько нарушений, совершенных при выполнении одного удара, рассматриваются как одно нарушение.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§7. Промах по очередному шару.</strong></dt><dd>Удар считается неправильным, если первое касание битка произошло с шаром, номер которого не является наименьшим на столе.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§8. Недоведение до борта.</strong></dt><dd>Удар считается неправильным, если ни один из прицельных шаров не забит в лузу, а после касания прицельного шара ни биток, ни какой-либо из прицельных шаров не доведен до борта.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§9. Удар с руки.</strong></dt><dd>При выполнении удара с руки игрок может располагать биток в любом месте на игровой поверхности стола, но не вплотную к прицельному шару. Он может изменить положение битка до нанесения удара.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§10. Выскочившие прицельные шары.</strong></dt><dd>Незабитый шар считается выскочившим, если он остановился где угодно, но не на игровой поверхности стола. Выскакивание за борт прицельного шара считается нарушением. Выскочившие прицельные шары не выставляются (за исключением девятки), и игра продолжается.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§11. Три нарушения подряд.</strong></dt><dd>Если игрок нарушает правила три раза подряд при выполнении трех последовательных ударов (без промежуточных правильных ударов), то ему засчитывается поражение в партии. Три нарушения должны быть совершены в одной партии. Между вторым и третьим нарушением должно последовать предупреждение.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§12. Серия.</strong></dt><dd>Серия начинается с момента получения игроком права на удар и заканчивается вместе с ударом, при выполнении которого он либо промахивается по лузе, либо нарушает правила, либо одерживает победу, а также, если игрок нарушает правила в перерыве между ударами.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§13. Партия.</strong></dt><dd>Партия начинается после того, как биток при выполнении начального удара пересекает переднюю линию. При этом необходимо попасть по единице. Партия завершается после того, как в результате правильного удара забита девятка, а также, если одному из игроков засчитано поражение.</dd></dl>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>

    <style>
        body {
            background-color: darkgreen;
        }

        .block {
            background-color: white;
        }
    </style>

