﻿
@{
    ViewBag.Title = "PoolOfEight";
}
<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/PoolOfEight">
                Пул-восьмёрка (8-ball)
            </a>
        </h2>






        <center>При игре в «Восьмерку» cледует руководствоваться <br> <a href="/Regulations/GeneralPoolRules">«Общими правилами пула»</a>, <br> а также нижеследующими правилами:</center><dl><dt><strong>§1. Цель игры.</strong></dt><dd>&nbsp;&nbsp;&nbsp;Данная игра является заказной, при этом в процессе игры используется биток и пятнадцать прицельных шаров с номерами от 1 до 15. Один из игроков должен сначала забить шары с номерами от 1 до 7 (сплошные), а другой - с номерами от 9 до 15 (полосатые). Побеждает тот, кто, забив шары своей группы, правильным ударом забивает восьмерку.</dd></dl>
        <p><br><br></p>
        <dl><dt>§2. Заказ (джентельменский заказ).</dt><dd>&nbsp;&nbsp;&nbsp;При джентльменском заказе не объявляют очевидные прицельные шары и лузы. Если партнер не уверен, по какому шару или лузе наносится удар, то он вправе спросить об этом играющего. Удары от бортов, а также комбинационные удары (то есть, удары шарами или от шаров) не считаются очевидными, и в этом случае должен заказываться как прицельный шар, так и луза. При заказе, однако, не требуется указывать какие-либо дополнительные подробности. Все неправильно забитые шары остаются в лузах независимо от того, принадлежат ли они группе играющего или его соперника. Начальный удар не является заказным. Если при правильном начальном ударе в лузу падает какой-либо шар, то игрок получает право на следующий удар.</dd></dl>
        <p><br><br></p>
        <dl><dt>§3. Расстановка шаров.</dt><dd>&nbsp;&nbsp;&nbsp;Шары расставляют в форме треугольной пирамиды с восьмеркой в центре, при этом передний шар пирамиды располагается на задней отметке, а по углам - полосатый и сплошной.</dd></dl>
        <p><br><br></p>
        <dl><dt>§4. Попеременное разбитие.</dt><dd>&nbsp;&nbsp;&nbsp;Победитель розыгрыша имеет право либо сам выполнить начальный удар (разбитие), либо передать его своему сопернику. При проведении индивидуальных соревнований игроки разбивают по очереди в каждой последующей партии.</dd></dl>
        <p><br><br></p>
        <dl><dt>§5. Начальный удар (разбитие).</dt><dd>&nbsp;&nbsp;&nbsp;Разбитие считается правильным, если играющий (с руки из дома) <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) забьет какой-либо прицельный шар, или <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) доведет до борта, по меньшей мере, четыре прицельных шара. <br>Невыполнение этих требований является нарушением, и вступающий в игру соперник имеет право <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) принять сложившуюся позицию и произвести очередной удар или <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) после повторной расстановки шаров произвести разбитие сам либо уступить его нарушителю. <br>Если при разбитии падает в лузу биток, то <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) все забитые при этом шары остаются в лузах (за исключением восьмерки), <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) объявляется фол, и <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3) стол остается открытым. <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4) вступающий в игру соперник производит удар с руки из дома. <br>&nbsp;&nbsp;&nbsp;<em><strong>Примечание:</strong> При игре с руки из дома наносить удар по расположенным в доме прицельным шарам можно только путем отражения битка от противоположного (заднего) борта.</em> <br><br>&nbsp;&nbsp;&nbsp;Шары, расположенные вне дома, можно сыгрывать в любую лузу. Выскакивание с разбития за борт прицельных шаров рассматривается как нарушение, при этом вступающий в игру соперник имеет право <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) принять сложившуюся на столе позицию и произвести очередной улар или <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) произвести удар с руки из дома. <br>&nbsp;&nbsp;&nbsp;Если при разбитии в лузу падает восьмерка, то игрок имеет право произвести разбитие заново или, выставив восьмерку, продолжить игру. Если же при разбитии помимо восьмерки падает еще и биток, то вступающий в игру соперник имеет право повторить разбитие или, выставив восьмерку, начать игру с руки из дома. <br>&nbsp;&nbsp;&nbsp;<em><strong>Примечание:</strong> Если партия играется на столах-автоматах (и к тому же не на официальных международных соревнованиях), то падение в лузу восьмерки при правильном разбитии приносит победу, а падение восьмерки вместе с битком - поражение в партии.</em></dd></dl>
        <p><br><br></p>
        <dl><dt>§6. Открытый стол.</dt><dd>&nbsp;&nbsp;&nbsp;Стол считается открытым до тех пор, пока ни одним из соперников не выбрана своя группа шаров (полосатых или сплошных). <br>&nbsp;&nbsp;&nbsp;<em><strong>Примечание:</strong> Стол всегда открыт непосредственно после разбития. Когда стол открыт, можно наносить удар по сплошному шару, чтобы сыграть полосатый, и наоборот, то есть, на открытом столе все шары легальные. Однако если при открытом столе биток ударяет вначале по восьмерке, то ни один полосатый или сплошной не засчитывается в пользу играющего. Его серия заканчивается, все забитые шары остаются в лузах, а для вступающего в игру соперника стол остается открытым. При открытом столе все неправильно забитые шары остаются в лузах.</em></dd></dl>
        <p><br><br></p>
        <dl><dt>§7. Выбор группы шаров.</dt><dd>&nbsp;&nbsp;&nbsp;Разбитие не дает права выбора полосатых или сплошных шаров, даже если шары и той и другой группы оказались после разбития в лузах. После разбития стол всегда остается открытым. Выбор группы шаров производится лишь после того, как игрок при выполнении правильного удара (после разбития) положит заказанный шар в лузу.</dd></dl>
        <p><br><br></p>
        <dl><dt>§8. Правильный удар</dt><dd>&nbsp;&nbsp;&nbsp;При выполнении любого удара биток должен вначале коснуться шара своей группы (легального шара), а затем <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) в лузу должен упасть какой-либо прицельный шар или <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) биток, или один из прицельных шаров должен дойти до борта. <br>&nbsp;&nbsp;&nbsp;<em><strong>Примечание:</strong> До соударения с легальным шаром он может предварительно удариться о борт, однако после этого либо должен упасть в лузу прицельный шар, либо биток или какой-либо из прицельных шаров должны дойти до борта. Невыполнение этих требований влечет фол.</em></dd></dl>
        <p><br><br></p>
        <dl><dt>§9. Отыгрыш.</dt><dd>&nbsp;&nbsp;&nbsp;Из тактических соображений игрок может принять решение забить очевидный прицельный шар и вместе с тем прервать свою серию у стола, объявив до удара отыгрыш. Отыгрыш считается правильным ударом. Если игрок хочет отыграться, забив очевидный прицельный шар, то он должен до удара объявить об отыгрыше своему сопернику. Если же этого не сделано, то игрок обязан произвести следующий удар. Все шары, забитые при отыгрыше, остаются в лузах.</dd></dl>
        <p><br><br></p>
        <dl><dt>§10. Ведение игры.</dt><dd>&nbsp;&nbsp;&nbsp;Игрок продолжает игру до тех пор, пока ему удается правильно и в соответствии с заказом забивать шары своей группы. Забив последний шар своей группы, он может забивать восьмерку.</dd></dl>
        <p><br><br></p>
        <dl><dt>§11. Игра с руки.</dt><dd>&nbsp;&nbsp;&nbsp;Если игрок нарушил правила, то вступающий в игру соперник играет с руки. Это означает, что он может расположить биток в любом месте стола. Данное правило удерживает игроков от совершения умышленных нарушений, которые могут поставить соперника в невыгодное положение. При игре с руки установку битка можно производить рукой или любой частью кия (включая наклейку). После установки битка любое движение кия вперед, сопровождающееся касанием битка, рассматривается как начало удара.</dd></dl>
        <p><br><br></p>
        <dl><dt>§12. Неправильно сыгранные шары.</dt><dd>&nbsp;&nbsp;&nbsp;Прицельный шар считается неправильно сыгранным, если <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) при выполнении удара нарушены правила, или <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) не сыгран заказанный шар, или <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3) до удара объявлен отыгрыш. <br>&nbsp;&nbsp;&nbsp;Неправильно сыгранные шары остаются в лузах.</dd></dl>
        <p><br><br></p>
        <dl><dt>§13. Выскакивание за борт прицельных шаров.</dt><dd>&nbsp;&nbsp;&nbsp;Выскакивание за борт какого-либо прицельного шара является нарушением, и право удара переходит к сопернику. Если же за борт вылетает восьмерка, то партия считается проигранной. Все выскочившие прицельные шары выставляются согласно «Общим правилам пула».</dd></dl>
        <p><br><br></p>
        <dl><dt>§14. Игра по восьмерке.</dt><dd>&nbsp;&nbsp;&nbsp;Если при игре по восьмерке произошло падение битка в лузу или совершено нарушение, не сопровождающееся падением в лузу или выскакиванием за борт восьмерки, то поражение не засчитывается. Вступающий в игру соперник играет с руки.</dd></dl>
        <p><br><br></p>
        <dl><dt>§15. Зачтение поражения.</dt><dd>&nbsp;&nbsp;&nbsp;Игроку засчитывается поражение, если он совершает одно из следующих нарушений: <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) восьмерка забита с нарушением правил; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) восьмерка и последний шар своей группы забиты при выполнении одного удара; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3) во время игры восьмерка выскочила за борт; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4) восьмерка забита не в заказанную лузу; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(5) восьмерка забита до того, как сыграны все шары своей группы.</dd></dl>
        <p><br><br></p>
        <dl><dt>§16. Патовая позиция.</dt><dd>&nbsp;&nbsp;&nbsp;Если каждый из игроков три раза подряд (итого 6 раз) по очереди нарушает правила, не стремясь (по мнению судьи) к победе в партии, так как это может привести к неминуемому поражению, то игра считается "патовой". После этого шары расставляют заново, и партия переигрывается. <br>&nbsp;&nbsp;&nbsp;<em><strong>Примечание:</strong> При игре в «Восьмерку» за три нарушения подряд, совершенные одним игроком, поражение не засчитывается.</em></dd></dl>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>

<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>





