﻿
@{
    ViewBag.Title = "PoolfFourteenPlusOne";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/PoolfFourteenPlusOne">
                Пул 14+1 (straight pool)
            </a>
        </h2>



        <center>При игре в «14+1 с продолжением» cледует руководствоваться <br> <a href="/Regulations/GeneralPoolRules">«Общими правилами пула», </a><br> а также нижеследующими правилами:</center><dl><dt><strong>§1. Цель игры.</strong></dt><dd>Игра в "14.1 с продолжением" является заказной. Игрок должен заказывать шар и лузу. За каждый правильно забитый заказанный шар игроку присуждается одно очко, и он продолжает свою серию у стола до промаха по лузе или нарушения. Игрок может забить первые 14 шаров, однако перед ударом по последнему оставшемуся пятнадцатому шару 14 забитых шаров устанавливают так же, как и в начале игры, в форме пирамиды (при этом место переднего шара в вершине пирамиды остается свободным). После этого играющий старается забить пятнадцатый шар таким образом, чтобы подбить пирамиду и продолжить свою серию.<br>&nbsp;&nbsp;&nbsp;&nbsp; Побеждает игрок, первым набравший заранее заданное число очков (на соревнованиях, как правило, 150 очков, а в обычной игре - любое оговоренное число очков).</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§2. Количество игроков.</strong></dt><dd>Двое (или две команды).</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§3. Используемые шары</strong></dt><dd>. Стандартный набор прицельных шаров с номерами от 1 до 15 плюс биток.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§4. Расстановка шаров.</strong></dt><dd>Стандартная треугольная пирамида с передним шаром (вершиной) на задней отметке, единицей справа и пятеркой слева. Остальные шары располагаются в произвольном порядке.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§5. Ведение счета.</strong></dt><dd>За каждый правильно забитый шар игроку засчитывается одно очко.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§6. Разбитие.</strong></dt><dd>При выполнении разбития игрок должен либо (1) положить заказанный шар в назначенную лузу, либо (2) после касания пирамиды довести до борта биток и, по крайней мере, два каких-либо прицельных шара. Невыполнение хотя бы одного из указанных требований рассматривается как неправильное разбитие. За каждое неправильное разбитие игроку списывают два очка. Кроме того, его соперник имеет право либо (1) принять сложившуюся на столе позицию, либо (2) предложить своему партнеру после расстановки шаров повторно произвести разбитие. Так продолжается до тех пор, пока не будет произведено правильное разбитие или же пока соперник не примет позицию на столе. На неправильное разбитие не распространяется правило трех нарушений подряд.<br>&nbsp;&nbsp;&nbsp;&nbsp; Если же при выполнении указанных выше двух требовании к правильному разбитию падает в лузу или вылетает за борт биток, то игрок за совершенное нарушение (фол) штрафуется на одно очко, и, кроме того, начинает действовать правило трех последовательных нарушений. Вступающий в игру соперник играет с руки или дома, при этом все прицельные шары остаются на своих местах.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>§7. Правила игры.</strong></dt><dd><strong>&nbsp;&nbsp;&nbsp;&nbsp;7.1.</strong> Правильно забитый заказанный шар дает право игроку продолжить свою серию. Он может наносить удар по любому шару на свой выбор, однако перед ударом необходимо заказать шар и лузу. При этом не требуется указывать такие подробности, как касания других шаров, карамболи, комбинационные удары или дуплеты (само собой разумеется, что все это допускается). За каждый шар, забитый при правильном ударе вместе с заказанным, игроку дополнительно засчитывается одно очко.<br> <strong>&nbsp;&nbsp;&nbsp;&nbsp;7.2.</strong> При выполнении любого удара после соударения битка с каким-либо прицельным шаром необходимо, чтобы либо (1) упал в лузу один из прицельных шаров, либо (2) дошел до борта биток или любой прицельный шар. Невыполнение этих требований рассматривается как нарушение. Если шар отстоит от борта на расстояние меньше диаметра шара (при необходимости судья может произвести соответствующее измерение), но не вплотную, то игроку разрешается произвести лишь два отыгрыша путем доведения данного шара до близлежащего борта. Если же два таких отыгрыша уже произведены, то при выполнении последующих ударов шар считается расположенным вплотную к борту, что предполагает соблюдение требований раздела "Шар на борту" из <a href="/rules/пул/общие-правила-пула.html">"Общих правил пула"</a>.<br> <em><strong>Примечание:</strong></em> Если игрок перед этим нарушил правила, mo ему разрешается произвести лишь один отыгрыш путем доведения такого шара до близлежащего борта. При выполнении следующего удара он должен руководствоваться требованиями раздела "Шар на борту". Это же относится и к случаю, когда игрок сначала отыгрался по этому шару, a затем нарушил правила. Если же он совершил перед этим два нарушения, то требования раздела "Шар на борту" вступают в силу немедленно. Если игрок нарушает требования указанного раздела, то ему объявляется третий фол подряд, что влечет за собой вычитание соответствующего числа штрафных очков, а также по одному очку за каждый предыдущий фол. После этого все пятнадцать шаров расставляются заново, и игрок, нарушивший правила, производит разбитие ударом с руки из дома.<br> <strong>&nbsp;&nbsp;&nbsp;&nbsp;7.3</strong>. После того как забито четырнадцать шаров, игра немедленно останавливается, при этом пятнадцатый шар остается на том же месте, а пирамида из четырнадцати шаров расставляется заново (место шара на задней отметке, то есть, в вершине пирамиды остается свободным). После этого игрок производит очередной удар, забивая, как правило, пятнадцатый шар таким образом, чтобы биток, ударившись о пирамиду, разбросал шары по всему столу, облегчая тем самым продолжение игры. Игрок, однако, не обязан наносить удар именно по пятнадцатому шару. Он может выбрать любой шар по своему усмотрению.<br> В таблице показано, что делать в том случае, если пятнадцатый шар упал в лузу одновременно с четырнадцатым.<br> <strong>&nbsp;&nbsp;&nbsp;&nbsp;7.4.</strong> Игрок из тактических соображений может объявить не заказной удар, а отыгрыш. Отыгрыш, как и любой другой удар, должен подчиняться соответствующим правилам. После выполнения отыгрыша игрок заканчивает свою серию, а все забитые при этом шары не засчитываются и выставляются.<br> <strong>&nbsp;&nbsp;&nbsp;&nbsp;7.5.</strong> Игрок не должен ловить, прикасаться или каким-то образом воздействовать на шар, движущийся в сторону лузы или места установки пирамиды (сюда же относится и случай, когда игрок ловит шар, держа руку в лузе). В противном случае он наказывается специальным фолом за умышленное нарушение, при этом с его счета списывается одно очко, как за обычный фол, и дополнительно пятнадцать очков, итого шестнадцать очков. Вступающий в игру партнер имеет право либо (1) принять позицию на столе и произвести удар с руки из-за передней линии, либо (2) после установки пирамиды из пятнадцати шаров заново предложить своему сопернику произвести разбитие с руки из дома.<br> <strong>&nbsp;&nbsp;&nbsp;&nbsp;7.6</strong>. В таблице показано, что нужно делать в тех случаях, когда незабитый пятнадцатый шар и (или) биток мешают установке новой пирамиды (заштрихованные прямоугольники относятся к случаю, когда оба шара остаются на своих местах).<br> <strong>&nbsp;&nbsp;&nbsp;&nbsp;7.7.</strong> Если игрок выполняет удар с руки из-за передней линии (например, после падения в лузу битка), а все прицельные шары расположены в доме, то по его требованию ближайший к передней линии прицельный шар может быть выставлен на заднюю отметку. Если же два шара и более находятся на одинаковых расстояниях от передней линии, то выставляется любой из них по усмотрению игрока.</dd></dl>
        <p><br><br></p>
        <dl><dt><strong>Что делать, если ...</strong></dt><dt></dt></dl>
        <table style="border-color: #000000; border-width: 1px; border-style: solid;" border="1" frame="lhs" cellspacing="1" align="center">
            <tbody>
                <tr>
                    <td style="background-color: #c0c0c0; border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
                    <td style="background-color: #8dba72; border-color: #000000; border-style: solid; border-width: 1px;">Биток расположен в месте установки пирамиды</td>
                    <td style="background-color: #8dba72; border-color: #000000; border-style: solid; border-width: 1px;">Биток не в месте установки пирамиды и не на передней отметке</td>
                    <td style="background-color: #8dba72; border-color: #000000; border-style: solid; border-width: 1px;">Биток расположен на передней отметке</td>
                </tr>
                <tr>
                    <td style="background-color: #8dba72; border-color: #000000; border-style: solid; border-width: 1px;">15-ый шар в месте установки пирамиды</td>
                    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;15-ый шар: на заднюю отметку. Биток: в дом</td>
                    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;15-ый шар: на переднюю отметку. Биток: на месте</td>
                    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;15-ый шар: на центральную отметку. Биток: на месте</td>
                </tr>
                <tr>
                    <td style="border-color: #000000; background-color: #8dba72; border-style: solid; border-width: 1px;">15-ый шар в лузе</td>
                    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;15-ый шар: на заднюю отметку. Биток: в дом</td>
                    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;15-ый шар: на заднюю отметку. Биток: на месте</td>
                    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;15-ый шар: на заднюю отметку. Биток: на месте</td>
                </tr>
                <tr>
                    <td style="border-color: #000000; background-color: #8dba72; border-style: solid; border-width: 1px;">15-ый шар в доме, но не на передней отметке</td>
                    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;15-ый шар: на заднюю отметку. Биток: на переднюю отметку</td>
                    <td style="background-color: #c0c0c0; border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
                    <td style="background-color: #c0c0c0; border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="border-color: #000000; background-color: #8dba72; border-style: solid; border-width: 1px;">15-ый шар не в доме и не в месте установки пирамиды</td>
                    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;15-ый шар: на месте. Биток: в дом</td>
                    <td style="background-color: #c0c0c0; border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
                    <td style="background-color: #c0c0c0; border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="border-color: #000000; background-color: #8dba72; border-style: solid; border-width: 1px;">15-ый шар на передней отметке</td>
                    <td style="border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;15-ый шар: на месте. Биток: на центральную отметку</td>
                    <td style="background-color: #c0c0c0; border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
                    <td style="background-color: #c0c0c0; border-color: #000000; border-style: solid; border-width: 1px;">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <dl><dt><strong>&nbsp;</strong></dt></dl><dl><dt><strong>§8. Неправильно забитые прицельные шары.</strong></dt><dd>Все выставляются. Штраф не налагается.</dd></dl><dl><dt><strong><br><br></strong></dt></dl><dl><dt><strong>§9. Выскочившие прицельные шары.</strong></dt><dd>Выставляются после полной остановки всех остальных шаров. Штраф налагается.</dd></dl><dl><dt><strong><br><br></strong></dt></dl><dl><dt><strong>§10. Падение в лузу или выскакивание за борт битка.</strong></dt><dd>Вступающий в игру партнер играет с руки из-за передней линии. Исключение составляет случай, когда нарушены правила игры 7.2 или 7.5, или же вступило в силу правило трех последовательных нарушений, которые предусматривают иные последствия.</dd></dl><dl><dt><strong><br><br></strong></dt></dl><dl><dt><strong>§11. Штрафы за нарушения.</strong></dt><dd>За каждый фол вычитается одно очко.<br>&nbsp;&nbsp;&nbsp;&nbsp; <em><strong>Примечание:</strong></em> Более строгие штрафы налагаются за умышленные нарушения (см. правило 7.5), а также за третье нарушение подряд (см. ниже). Вступающий в игру принимает сложившуюся на столе позицию, за исключением случаев, когда биток вылетает за борт или падает в лузу, а также, если совершено умышленное или третье нарушение подряд.</dd></dl><dl><dt><strong><br><br></strong></dt></dl><dl><dt><strong>§12. Три последовательных нарушения.</strong></dt><dd>Если игрок совершает нарушение, то, помимо вычитания одного штрафного очка (или более), судья открывает счет фолам. Если при своем следующем подходе к столу игрок успешно забивает в лузу заказанный шар или выполняет правильный отыгрыш, то фол аннулируется. В противном случае он наказывается еще одним штрафным очком и в протоколе делается соответствующая отметка о том, что за игроком числится уже два фола подряд. Если же после этого при своем следующем подходе к столу игрок не сможет забить заказанный шар в лузу или выполнить правильный отыгрыш, то на него налагается штраф в размере пятнадцати очков. При совершении третьего нарушения подряд все числящиеся за игроком фолы автоматически аннулируются. После этого все шары расставляют заново, и оштрафованный игрок производит разбитие согласно приведенным выше правилам для начального удара.<br> &nbsp;&nbsp;&nbsp;&nbsp;Следует подчеркнуть, что три последовательных нарушения должны быть совершены в трех последовательных игровых подходах к столу, а не просто в трех последовательных сериях. Например, игрок заканчивает фолом свою серию №6, совершает нарушения при выполнении первого удара серии №7 (таким образом, за ним числится два фола подряд), а затем успешно начинает серию №8, правильно забив заказанный шар, но при следующем ударе этой серии роняет биток в лузу. В этом случае, несмотря на то, что он совершил нарушения в каждой из трех последовательных серий, за ним не числится три нарушения подряд. Числившиеся за игроком два фола подряд были аннулированы сразу же после того, как он правильно забил шар в первом ударе серии №8. Конечно, при следующем подходе к столу для выполнения серии №9 за игроком остается один фол.</dd></dl><dl><dt><strong><br><br></strong></dt></dl><dl><dt><strong>§13. Запись счета.</strong></dt><dd>Вычитание штрафных очков может привести к отрицательному счету. Текущий счет может быть "минус один", "минус два", "минус пятнадцать" и т. д. Игрок может победить в партии, набрав 150 очков, в то время как его соперник может не иметь ничего, кроме двух фолов. Окончательный результат партии будет, таким образом, 150 на -2.<br>&nbsp;&nbsp;&nbsp;&nbsp; Если игрок совершает нарушение, не забив при этом шар в лузу, то штрафное очко вычитается из общего числа набранных им ранее очков. Если же игрок совершает нарушение, и при этом заказанный шар падает в лузу, то шар выставляется (не засчитывается), а штрафное очко, как и в предыдущем случае, вычитается из общего числа очков, набранных ранее.</dd></dl>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>


    <style>
        body {
            background-color: darkgreen;
        }

        .block {
            background-color: white;
        }
    </style>



