﻿
@{
    ViewBag.Title = "PyramidTeamCompetitions";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/PyramidTeamCompetitions">
                Командні змагання з піраміди
            </a>
        </h2>



        <p><strong>КОМАНДНІ ЗМАГАННЯ З ПІРАМІДИ</strong></p>
        <p>Офіційні командні змагання з піраміді проводяться в наступних форматах:</p>
        <p>- «Вільна піраміда (парний формат)»;</p>
        <p>- «Піраміда-триборство» (формат 3 + 3):</p>
        <p>- «Вільна піраміда (формат 3 + 3)»;</p>
        <p>- «Вільна піраміда (формат 2 + 2)».</p>
        <p><strong>«ВІЛЬНА ПІРАМІДА (парні ФОРМАТ)»</strong></p>
        <p>При проведенні командних змагань з «Вільної піраміди» в парному форматі слід керуватися "Загальними правилами піраміди», правилами гри в «Вільну піраміду», а також нижченаведеними правилами:</p>
        <p><strong>1. Учасники зустрічі</strong> - 2 команди по 2 гравця в кожній.</p>
        <p>Члени однієї команди (пари) наносять удари по черзі відповідно до правил черговості. Перед виконанням кожного удару гравці однієї команди можуть одночасно підходити до столу, спільно оцінювати позицію і приймати ігрове рішення.</p>
        <p><strong>2. Черговість початкового удару.</strong></p>
        <p>2.1. Команда, що починає першу партію, визначається в результаті розіграшу згідно п. 8 «Загальних правил піраміди».</p>
        <p>2.2. У кожній наступній партії команди роблять початковий удар по черзі.</p>
        <p>2.3. Гравці однієї і тієї ж команди також виконують початковий удар по черзі.</p>
        <p><strong>3. Черговість ударів в командах.</strong></p>
        <p>3.1. Гравці однієї команди вступають в гру по черзі:</p>
        <p>- якщо удар першого гравця був правильним і результативним, то наступний удар виконує другий тієї ж команди і т.д .;</p>
        <p>- якщо удар першого гравця був правильним, але нерезультативним, то другий гравець вступає в гру після завершення ігрового підходу команди-суперника.</p>
        <p>3.2. Черговість ударів в команді задає гравець, який першим вступив &nbsp;гру в даної партії:</p>
        <p>- для команди, що починає чергову партію, черговість задає гравець, що виконує початковий цей удар в цій партії;</p>
        <p>- для протилежної команди черговість задає гравець, який першим вступив &nbsp;в гру, після того як до його команди перейшло право виконати черговий удар (цим гравцем може бути будь-який з двох членів даної команди).</p>
        <p>3.3. Якщо після штрафу один з гравців команди відповідно до п. 6 «Загальних правил піраміди» передав удар команді, яка порушила правила, то чергу виконати наступний удар переходить до другого гравця даної команди.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>4. Контроль черговості ударів в командах.</strong></p>
        <p>4.1. Контроль черговості в своїй і в протилежній команді здійснюють гравці обох команд незалежно від присутності або відсутності судді біля столу.</p>
        <p>4.2. Суддівство біля столу в парному форматі здійснюють, як правило, два судді, один з яких виконує обов'язки судді біля столу, а другий - обов'язки судді-секретаря, який контролює черговість в командах.</p>
        <p>4.3. Будь-який гравець до удару має право запитати інших гравців або суддю-секретаря про те, чия черга наносити удар.</p>
        <p>4.4. При відсутності судді секретаря, контроль черговості в своїй і в протилежній команді покладається на гравців обох команд.</p>
        <p>4.5. При наявності технічної можливості гравці кожної команди мають право один раз за зустріч до нанесення наступного удару звернутися до зонного судді або судді біля столу з проханням проконтролювати черговість удару шляхом перегляду відеозапису.</p>
        <p><strong>5. Попередження про порушення черговості ударів в командах.</strong></p>
        <p>5.1. Якщо гравець готується виконати удар не в свою чергу, то інші гравці або суддя-секретар, контролюючий черговість в командах, повинні зробити йому попередження до нанесення удару.</p>
        <p>5.2. Якщо відповідного попередження до удару зроблено не було, то вважається, що черговість не порушена.</p>
        <p>5.3. Якщо гравець на думку судді порушує черговість навмисно, то суддя приймає дисциплінарні заходи, передбачені статтею «Неспортивну поведінку» (див. Розділ 1, п.21).</p>
        <p><strong>«ПІРАМІДА-триборства (ФОРМАТ 3 + 3)»</strong></p>
        <p>При проведенні командних змагань по «Піраміді-триборства» в форматі 3 + 3 слід керуватися «Правилами пірамідних ігор (див. Розділ 2), а також нижченаведеними правилами:</p>
        <p><strong>1. Учасники зустрічі</strong> - 2 команди по 3 гравці в кожній.</p>
        <p><strong>2. Правила проведення командної зустрічі.</strong></p>
        <p>2.1. Кожна командна зустріч складається з особистих зустрічей між учасниками команд: перший, другий і третій номери однієї команди зустрічаються з першим, другим і третім номерами іншої команди відповідно.</p>
        <p>2.2. Перші номери команд грають в «Динамічну піраміду», другі номери - в «Комбіновану піраміду», треті номери - в «Вільну піраміду».</p>
        <p><span style="text-decoration: underline;">Примітка:</span> Допускається проведення змагань з іншим набором з трьох пірамідних ігор, що включає «Класичну піраміду (71 очко, 51 очко або 8 очок)».</p>
        <p>2.3. Не менш ніж за півгодини до початку командної зустрічі капітани команд подають головному секретарю змагань заповнену заявку із зазначенням порядкових номерів гравців і відповідного різновиду гри. Зміна порядкових номерів гравців після подачі заявки забороняється.</p>
        <p>2.4. Формат особистих зустрічей визначає головна суддівська колегія.</p>
        <p>2.5. За перемогу в особистій зустрічі команді присуджується одне командне очко.</p>
        <p>2.6. Перемога в командній зустрічі присуджується команді, яка першою набрала три командних очка. За рахунку 2-1 або 1-2 другі номери грають в «Комбіновану піраміду», а при рахунку 2-2 треті номери - в «Вільну піраміду».</p>
        <p><strong>3. Черговість початкового удару.</strong></p>
        <p>3.1. У кожній особистій зустрічі гравець, який починає першу партію, визначається в результаті розіграшу згідно п. 8 «Загальних правил піраміди»</p>
        <p>3.2. У кожній наступній партії зустрічі право першого удару переходить від гравця однієї команди до гравця іншої команди.</p>
        <p>&nbsp;</p>
        <p><strong>«ВІЛЬНА ПІРАМІДА (ФОРМАТ 3 + 3)»</strong></p>
        <p>При проведенні командних змагань з «Вільної піраміди» в форматі 3 + 3 слід керуватися "Загальними правилами піраміди», правилами «Вільної піраміди», а також нижченаведеними правилами:</p>
        <p><strong>1. Учасники зустрічі</strong> - 2 команди по 3 гравці в кожній.</p>
        <p><strong>2. Правила проведення командної зустрічі.</strong></p>
        <p>2.1. Кожна командна зустріч складається з особистих зустрічей між учасниками команд: перший, другий і третій номери однієї команди зустрічаються з першим, другим і третім номерами іншої команди відповідно.</p>
        <p>2.2. Перші, другі і треті номери команд грають в «Вільну піраміду».</p>
        <p>2.3. Не менш ніж за півгодини до початку командної зустрічі капітани команд подають головному секретарю змагань заповнену заявку із зазначенням порядкових номерів гравців. Зміна порядкових номерів гравців після подачі заявки забороняється.</p>
        <p>2.4. Формат особистих зустрічей визначає головна суддівська колегія.</p>
        <p>2.5. За перемогу в особистій зустрічі команді присуджується одне командне очко.</p>
        <p>2.6. Перемога в командній зустрічі присуджується команді, яка першою набрала три командних очка. За рахунку 2-1 або 1-2 знову грають між собою перші номери команд, а за рахунку 2-2 - другі номери.</p>
        <p><strong>3. Черговість початкового удару.</strong></p>
        <p>3.1. У кожній особистій зустрічі гравець, який починає першу партію, визначається в результаті розіграшу згідно п. 8 «Загальних правил піраміди»</p>
        <p>3.2. У кожній наступній партії зустрічі право першого удару переходить від гравця однієї команди до гравця іншої команди.</p>
        <p>&nbsp;</p>
        <p><strong>«ВІЛЬНА ПІРАМІДА (ФОРМАТ 2 + 2)»</strong></p>
        <p>При проведенні командних змагань з «Вільної піраміди» в форматі 2 + 2 слід керуватися "Загальними правилами піраміди», правилами «Вільної піраміди», а також нижченаведеними правилами:</p>
        <p>1. Учасники зустрічі - 2 команди по 2 гравця в кожній.</p>
        <p><strong>2. Правила проведення командної зустрічі.</strong></p>
        <p>2.1. Кожна командна зустріч складається з особистих зустрічей між учасниками команд: перший і другий номери однієї команди зустрічаються з першим і другим номерами іншої команди відповідно.</p>
        <p>2.2. Перші і другі номери команд грають в «Вільну піраміду».</p>
        <p>2.3. Не менш ніж за півгодини до початку командної зустрічі капітани команд подають головному секретарю змагань заповнену заявку із зазначенням порядкових номерів гравців. Зміна порядкових номерів гравців після подачі заявки забороняється.</p>
        <p>2.4. Формат особистих зустрічей визначає головна суддівська колегія.</p>
        <p>2.5. За перемогу в особистій зустрічі команді присуджується одне командне очко.</p>
        <p>2.6. Перемога в командній зустрічі присуджується команді, яка першою набрала два командних очка.</p>
        <p>2.7. При командному рахунку 1-1 третя зустріч проводиться в такий спосіб: першу партію зустрічі грають перші номери команд, другу партію - другі номери команд, третю - знову перші номери команд і т.д.</p>
        <p><strong>3. Черговість початкового удару.</strong></p>
        <p>3.1. У кожній особистій зустрічі гравець, який починає першу партію, визначається в результаті розіграшу згідно п. 8 «Загальних правил піраміди»</p>
        <p>3.2. У кожній наступній партії зустрічі право першого удару переходить від гравця однієї команди до гравця іншої команди.</p>
        <p>&nbsp;</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>
    <style>
        body {
            background-color: darkgreen;
        }

        .block {
            background-color: white;
        }
    </style>
