﻿
@{
    ViewBag.Title = "PyramidRules";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/PyramidRules">
                Загальні правила Піраміда
            </a>
        </h2>



        <p><strong>ПРАВИЛА ПІРАМІДНИХ ІГОР</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>ПІРАМІДА</strong> представляє собою різновид світового лузного більярду зі своїми особливими правилами та вимогами до більярдного обладнання.</p>
        <p>Офіційні змагання проводяться по наступним видам піраміди:</p>
        <p><strong>1. ВІЛЬНА ПІРАМІДА</strong></p>
        <p><strong>2. КОМБІНОВАНА ПІРАМІДА</strong></p>
        <p><strong>3. ДИНАМІЧНА ПІРАМІДА</strong></p>
        <p><strong>4. КЛАСИЧНА ПІРАМІДА</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>ЗАГАЛЬНІ ПРАВИЛА ПІРАМІДИ</strong></p>
        <p><strong>1. Більярдне обладнання та аксесуари</strong></p>
        <p>При грі в кожну з описаних нижче різновидів піраміди слід використовувати більярдні столи, кулі та аксесуари, що відповідають «Технічним вимогам МКП до більярдного обладнання».</p>
        <p><strong>2. Розмітка більярдного столу</strong></p>
        <p>2.1. На ігровій поверхні більярдного столу повинні бути чітко і акуратно нанесені такі лінії і позначки:</p>
        <p>(1) Центральна відмітка - точка, розташована в центрі ігрової поверхні столу.</p>
        <p>(2) Центральна лінія - пряма, проведена через центральну відмітку паралельно коротким бортам. Центральна лінія ділить ігрову поверхню столу на дві половини - передню і задню.</p>
        <p>(3) Передня відмітка - точка, розташована в центрі передньої половини ігрової поверхні столу.</p>
        <p>(4) Лінія дому - пряма, проведена через передню відмітку паралельно переднього борту.</p>
        <p>(5) Задня позначка - точка, розташована в центрі задньої половини ігрової поверхні столу.</p>
        <p>(6) Лінія виставлення куль - частина поздовжньої лінії столу, проведена від задньої відмітки до середини заднього борту.</p>
        <p>2.2. Дім - частина ігрової поверхні столу, укладена між лінією дому і переднім бортом.</p>
        <p><strong>3. Використовувані кулі</strong></p>
        <p>Стандартний набір з шістнадцяти пірамідних більярдних куль: п'ятнадцять білих (кольори слонової кістки) куль з номерами від 1 до 15-ти і один кольоровий (переважно жовта) куля без номера.</p>
        <p><strong>4. Биток і прицільні кулі</strong></p>
        <p>4.1. <em>Битком</em> називається куля, по якій наносять удар києм в процесі гри.</p>
        <p>4.2. Всі інші кулі на ігровій поверхні столу крім битка є <em>прицільними</em>.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>5. Удар києм по битку</strong></p>
        <p>5.1. Удар по битку повинен наноситися <em>тільки</em> наклейкою кия у напрямі його поздовжньої осі. В іншому випадку - штраф.</p>
        <p>5.2. При нанесенні удару по битку принаймні одна нога що грає повинна торкатися підлоги. В іншому випадку накладається штраф.</p>
        <p><strong>6. Зіткнення битка з прицільною кулею</strong></p>
        <p>6.1. Зіткнення (торкання) битка з однією з прицільних куль (що супроводжується передачею руху від битка до прицільної кулі) є обов'язковою умовою будь-якого правильного удару.</p>
        <p>6.2. Якщо биток не торкнувся жодного з прицільних куль, накладається штраф.</p>
        <p>6.3. Биток може вдарити прицільну кулю як безпосередньо, так і від будь-якого борту (бортів).</p>
        <p>6.4. Удар по битку в сторону від дотичної прицільної кулі (без передачі йому руху) не рахується за зіткнення битка з цим прицільною кулею. Якщо після цього биток не торкнувся жодного з прицільних куль, накладається штраф (див. п.6.2).</p>
        <p><strong>7. Черговість ударів</strong></p>
        <p>7.1. Якщо в результаті правильного удару в лузу забита куля, то гравець отримує право на наступний удар.</p>
        <p>7.2. Якщо в результаті правильного удару жодна куля не забита в лузу, то право наступного удару переходить до суперника.</p>
        <p>7.3. За удар позачергово накладається штраф.</p>
        <p>7.4. Якщо при виконанні удару порушено правила, то суперник має право після виставлення неправильно забитих і куль, що вискочили, а також зняття зі столу на полицю передбаченого правилами <em>штрафної</em> кулі:</p>
        <p>(1) сам провести наступний удар, або</p>
        <p>(2) передати його гравцеві, який порушив правила.</p>
        <p><strong>8. Розіграш початкового удару</strong></p>
        <p>8.1. При розіграші початкового удару виконайте таку послідовність дій. Розташувавшись по різні боки від поздовжньої лінії столу, гравці одночасно виконують удар з руки з дому, посилаючи кулі до заднього борту і назад. Перемагає гравець, чия куля зупинилася ближче до переднього борту.</p>
        <p>8.2. Розіграш вважається автоматично програним, якщо:</p>
        <p>(1) куля зайшла на половину суперника,</p>
        <p>(2) не досягла заднього борту,</p>
        <p>(3) впала в лузу,</p>
        <p>(4) вискочила за борт,</p>
        <p>(5) торкнулася довгого борту або</p>
        <p>(6) торкнулася заднього борту більше одного разу.</p>
        <p>8.3. Якщо правила порушили обидва суперники або якщо суддя не може визначити чия куля зупинилася ближче до переднього борту, то розіграш повторюється.</p>
        <p>8.4. Переможець розіграшу має право:</p>
        <p>(1) сам провести початковий удар або</p>
        <p>(2) передати його суперникові.</p>
        <p><strong>9. Початкова розстановка куль</strong></p>
        <p>9.1. Перед початковим ударом п'ятнадцять білих куль встановлюються у формі рівностороннього трикутника (піраміди) з вершиною на задній відмітці столу і основою паралельно задньому борту. Кожна куля повинна стикатися з кулями, що стоять поряд.</p>
        <p>При розстановці куль слід використовувати стандартний трикутник.</p>
        <p>9.2. Кольорова куля, яка використовується в якості битка при виконанні початкового удару, розташовується в домі.</p>
        <p>9.3. По ходу гри можуть виникати ситуації, що передбачають установку неповної піраміди (див. п.13.2 і п.26.2, а також розділ 1, п.19.1). При установці неповної піраміди дотримуються всі вимоги, що пред'являються до установки повної піраміди. Відмінності полягають в наступному ::</p>
        <p>Неповна піраміда заповнюється в напрямку від вершини до основи. Підстава (нижній ряд) заповнюється від середини до країв симетрично до поздовжньої осі столу. Для досягнення повної симетрії в нижній ряд в разі необхідності переміщують куля з вершини піраміди.</p>
        <p><strong>10. Положення кулі</strong></p>
        <p>Положення кулі визначається положенням його центру.</p>
        <p><strong>11. Дім і лінія дому</strong></p>
        <p>11.1. Лінія дому не є частиною дому.</p>
        <p>11.2. Куля, що стоїть на лінії дому, вважається розміщеною поза домом.</p>
        <p><strong>12. Введення битка в гру (початок гри)</strong></p>
        <p>12.1. Биток вводиться в гру початковим ударом з руки із дому.</p>
        <p>12.2. В якості &nbsp;битка при виконанні початкового удару завжди слід використовувати кольорову кулю.</p>
        <p>12.3. Гравець, що вступає в гру першим, може встановлювати биток в будь-якій точці дому, але не на лінії дому (див. п.10 і п.11).</p>
        <p>Якщо биток встановлений поза домом, то суддя або суперник повинні попередити про це гравця, що вступає в гру до нанесення їм удару. В іншому випадку вважається, що биток введений в гру правильно.</p>
        <p>Якщо гравець, що вступає в гру попереджений про неправильне положення битка, він зобов'язаний його поправити.</p>
        <p>12.4. Биток вважається введеним в гру відразу після удару по ньому наклейкою кия (див. п.5).</p>
        <p>12.5. До тих пір поки биток не введений в гру, його можна поправляти рукою і києм (включаючи наклейку), проте, після того як биток встановлений, будь-який удар по битку розглядається як введення його в гру.</p>
        <p><strong>13. Правильний початковий удар</strong></p>
        <p>13.1. Початковий удар вважається <em>правильним</em>, якщо <em>після</em> зіткнення битка з одною з прицільних куль:</p>
        <p>(1) одна з куль правильно забита в будь-яку лузу; або</p>
        <p>(2) щонайменше <em>три</em> різні <em>прицільні</em> кулі торкнулися борту (бортів); або</p>
        <p>(3) <em>дві</em> різні <em>прицільні</em> кулі торкнулися борту (бортів) і, <em>крім того</em>, хоча б <em>одна</em> (будь-яка з перших двох або яка-небудь інша) <em>прицільна</em> куля перетнула центральну лінію.</p>
        <p>Якщо жодна із зазначених вимог не виконана, накладається штраф.</p>
        <p>13.2. Якщо правила початкового удару порушені, то суперник після зняття зі столу на полицю штрафного кулі має право:</p>
        <p>(1) прийняти позицію, що склалася і продовжити гру; або</p>
        <p>(2) прийняти сформовану позицію і передати удар гравцеві, який порушив правила; або</p>
        <p>(3) розставивши кулі заново, сам провести початковий удар; або</p>
        <p>(4) розставивши кулі заново, передати початковий удар гравцеві, який порушив правила.</p>
        <p><span style="text-decoration: underline;">Примітка:</span> При розстановці куль заново після зняття штрафної кулі слід керуватися правилами виставлення неповної піраміди (див. п.9.3.).</p>
        <p><strong>14. Черговість початкового удару</strong></p>
        <p>Кожну наступну партію суперники починають по черзі.</p>
        <p><strong>15. Початок і завершення удару</strong></p>
        <p>15.1. Удар починається з моменту зіткнення наклейки кия з битком і завершується після повної зупинки всіх куль на ігровій поверхні столу. (Куля, що обертається на місці вважається рухомою.)</p>
        <p>15.2. Забороняється наносити наступний удар до завершення попереднього. В іншому випадку - штраф.</p>
        <p><strong>16. Дотик куль</strong></p>
        <p>За винятком торкання битка наклейкою кия при виконанні удару (див. п.5.1) і установки битка до введення його в гру (див п.12.5.), забороняється дотик будь-якої кулі (битка або будь-якої прицільної кулі) на ігровій поверхні столу києм, машинкою , крейдою, рукою, одягом і т.п. В іншому випадку - штраф.</p>
        <p><strong>17. Подвійний удар</strong></p>
        <p>Якщо при виконанні удару наклейка кия повторно стикається з битком який відокремився, то такий удар кваліфікується як <em>подвійний</em> і карається штрафом.</p>
        <p><strong>18. Пропих</strong></p>
        <p>Якщо при ударі контакт наклейки кия з битком затягується аж до зіткнення битка з прицільною кулею, після чого биток отримує рух вперед (слідом за прицільною кулею), то такий удар кваліфікується як пропих і карається штрафом.</p>
        <p><strong>19. Кулі, що стикаються і близько стоять </strong></p>
        <p>19.1. Якщо биток стикається прицільної кулі або якщо відстань між битком і прицільною кулею настільки мала, що при виконанні удару по битку практично неможливо уникнути моментального потрійного контакту «наклейка кия-биток-прицільна куля», то удар по битку не кваліфікується як <em>пропих</em> або як <em>подвійний удар</em> , якщо вона нанесена:</p>
        <p>(1) під кутом не менше 45 градусів в сторону від лінії центрів цих двох куль; або</p>
        <p>(2) таким чином, щоб биток не отримав рух вперед (слідом за прицільною кулею).</p>
        <p>В іншому випадку накладається штраф.</p>
        <p>19.2. Якщо при ударі по кулях, які близько стоять не було ні потрійного контакту, ні подвійного удару, то сам по собі рух битка слідом за прицільною кулею, не є підставою для штрафу.</p>
        <p><strong>20. Правильно завершений удар.</strong></p>
        <p>Будь-який удар (за винятком початкового) вважається <em>правильним (правильно завершеним)</em>, якщо не порушено жодне з положень цих Правил і крім того <em>після</em> зіткнення (торкання) битка з однією з прицільних куль будь-яка з куль на ігровій поверхні столу (биток або будь-яка прицільна куля ):</p>
        <p>(1) забита в лузу; або</p>
        <p>(2) відбилася від будь-якого борту, <em>а потім</em>: (а) торкнулася <em>іншого</em> борту, або (б) доведена до <em>іншого</em> борту будь-яка куля (биток або прицільна куля) або (в) торкнулася будь-якої кулі, що стоїть впритул до <em>іншого</em> борту; або</p>
        <p>(3) перетнула центральну лінію, а <em>потім</em>: (а) торкнулася будь-якого борту або (б) доведена до будь-якого борту будь-яка куля (биток або прицільна куля) або (в) торкнулася будь-якої кулі, що стоїть впритул до будь-якого борту; або</p>
        <p>(4) відбилася від будь-якого борту, а <em>потім</em>: (а) перетнула центральну лінію або (б) перекотила через неї будь-яку кулю (биток або прицільна куля) або (в) торкнулася кулі, центр якої в момент зіткнення, знаходився по інший бік від центральній лінії або на центральній лінії столу.</p>
        <p>Якщо жодна із зазначених умов не виконана, то накладається штраф.</p>
        <p><span style="text-decoration: underline;">Примітка</span>: Якщо биток б'є по прицільній кулі, що стоїть впритул до борту, а ця прицільна куля в свою чергу впливає на биток і доводить його до іншого борту або перекочує через центральну лінію, то удар вважається <strong>безумовно</strong> правильним, якщо мало місце <em>два окремих зіткнення</em> - « биток-прицільна куля »і« прицільна куля-биток ».</p>
        <p>Якщо ж двох окремих зіткнень не було, то подібним чином удар, що завершився вважається правильним лише <strong>за умови</strong>, якщо гравець до удару <em>попередив</em> суддю про те, що прицільна куля стоїть впритул борту. В іншому випадку - штраф.</p>
        <p><strong>21. Правильно і неправильно забиті кулі</strong></p>
        <p>21.1. Куля вважається правильно забитою (зіграною), якщо вона впала в лузу в результаті правильного удару.</p>
        <p>21.2. Всі правильно забиті кулі виймаються з луз і розміщуються на спеціальній полиці. (Кожному з гравців відводиться окрема полиця.)</p>
        <p>21.3. Якщо з моменту початку удару і до моменту його завершення (див. п.15), було порушено хоча б одне з положень цих Правил, то всі кулі, що впали в лузи в результаті цього удару, вважаються неправильно забитими.</p>
        <p>Якщо порушення відбулося після завершення удару, накладається штраф. Однак куля, що впала в лузу в результаті завершеного удару, вважається забитою правильно, якщо завершений удар не супроводжувався порушеннями правил.</p>
        <p><span style="text-decoration: underline;">Примітка.</span> Якщо порушення правил гри відбулося після завершення партії (тобто після завершення останнього удару, в результаті якого був правильно забитий останній шар в партії і всі кулі на столі зупинилися), штраф не накладається і результат партії не переглядається.</p>
        <p>21.4. Всі неправильно забиті кулі не зараховуються і виставляються.</p>
        <p>21.5. Куля, що вискочила з лузи на ігрову поверхню столу, вважається не забитою і залишається в грі. (Штраф при цьому не накладається.)</p>
        <p><strong>22. Зависла куля</strong></p>
        <p>22.1. Якщо зависла над лузою куля мимовільно падає в лузу без зіткнення з іншою кулею і якщо це не вплинуло на кінцевий результат розпочатого удару, то її відновлюють на колишнє місце і гра продовжується.</p>
        <p>22.2. Якщо зависла над лузою куля мимовільно падає в лузу без зіткнення з іншою кулею і якщо це вплинуло на кінцевий результат розпочатого удару (тобто в тому випадку, якщо мимоволі впала в лузу куля була би неминуче зачеплена одним з наведених в рух куль), то всі кулі встановлюються якомога точніше на свої колишні позиції і удар повторюється.</p>
        <p>22.3. Якщо куля, що рухається зависає на краю лузи в положенні нестійкої рівноваги, а потім падає в лузу без будь-якого стороннього впливу, то вона зараховується &nbsp;внаслідок проведеного удару. В іншому випадку вона відновлюється на місце і гра продовжується.</p>
        <p><strong>23. Куля, що вискочила</strong></p>
        <p>23.1. Куля вважається такою, що вискочила за борт, якщо після завершення удару вона зупинилася поза ігровою поверхнею столу (на борту, на підлозі і т.п.).</p>
        <p>23.2. Куля не вважається такою, що вискочила, якщо вона, ударившись об верхню частину пружного борту або поручня, самостійно повертається на ігрову поверхню або падає в лузу, не зачепивши при цьому який-небудь інший об'єкт, що не є стаціонарною приналежністю більярдного столу.</p>
        <p>Якщо ж куля зачіпає який-небудь предмет, що не є приналежністю столу, наприклад, освітлювальний прилад, крейда на борту або поручні і т. п., то вона вважається такою, що вискочила, навіть якщо вона після цього самостійно повертається на ігрову поверхню або падає в лузу.</p>
        <p>23.3. Якщо будь-яку кулю (биток або прицільна куля) вискакує за борт, накладається штраф.</p>
        <p>23.4. Всі кулі, що вискочили виставляються після завершення удару.</p>
        <p><strong>24. Кікс</strong></p>
        <p>24.1. Кікс є удар з прослизанням наклейки кия по поверхні битка.</p>
        <p>24.2. Якщо кікс (з відривом або без відриву битка від ігрової поверхні столу) не супроводжується порушеннями правил, штраф не накладається.</p>
        <p><strong>25. Виставлення куль</strong></p>
        <p>25.1. Всі неправильно забиті, що вискочили за борт кулі виставляються після завершення удару і до початку наступного.</p>
        <p>25.2. Одинична куля виставляється на задню відмітку.</p>
        <p>Якщо виставляється кілька куль, то їх встановлюють в довільному порядку на лінії виставлення куль від задньої відмітки до заднього борту якомога ближче, але не впритул один до одного.</p>
        <p>Якщо ж будь-які кулі, розташовані поблизу або безпосередньо на задній відмітці або на лінії виставлення куль, заважають процесу виставлення, то кулі розташовують на лінії виставлення куль якомога ближче до задньої відмітки і якомога ближче, але не впритул до куль, що заважають.</p>
        <p>У разі, якщо для кулі не вистачає місця між задньою відміткою і заднім бортом, то кулі виставляють на продовженні лінії виставлення куль (між задньою відміткою і центром ігрової поверхні столу) якомога ближче до задньої відмітки.</p>
        <p><span style="text-decoration: underline;">Примітка:</span> При грі в «Вільну піраміду» биток і прицільні кулі виставляються на загальних підставах відповідно до п.25.2.</p>
        <p>При грі в «Комбіновану піраміду», «Динамічну піраміду» і «Класичну піраміду» прицільні кулі виставляються відповідно до п.25.2, а биток вводиться в гру відповідно до правил кожної конкретної гри.</p>
        <p><strong>26. Сторонній вплив</strong></p>
        <p>26.1. Якщо під час гри кулі приходять в рух внаслідок стороннього впливу (на кулі, на стіл або на гравця, що виконує удар), то їх повертають на вихідні позиції і гра продовжується. При цьому штраф не накладається.</p>
        <p>26.2 Якщо відновити положення куль не представляється можливим, то кольорова куля встановлюють в домі (якщо кольорова куля вийшла з гри, то її повертають в гру замість будь-якої з решти на столі білих куль), всі решта на столі білі кулі встановлюють у формі піраміди (або неповної піраміди) з вершиною на задній відмітці, право подальшого удару визначається розіграшем і гра триває за правилом початкового удару (див. п.13). Рахунок зберігається таким, яким він був до того моменту, коли партія була перервана.</p>
        <p><span style="text-decoration: underline;">Примітка:</span> При установці неповної піраміди слід керуватися правилами, викладеними в п.9.3.</p>
        <p><strong>27. Штрафи</strong></p>
        <p>27.1. Штрафи накладаються в наступних випадках:</p>
        <p>(1) при неправильному ударі києм по битку (див. п.5.1);</p>
        <p>(2) при нанесенні удару по битку з відривом обох ніг від підлоги (див. п.5.2);</p>
        <p>(3) якщо биток при ударі не торкнувся жодної з прицільних куль (див. п.6.3);</p>
        <p>(4) при порушенні черговості ударів (див. п. 7.3);</p>
        <p>(5) при неправильному початковому ударі (див. п.13.1);</p>
        <p>(6) якщо наступний удар починається до завершення попереднього (див. п.15.2);</p>
        <p>(7) при забороненому дотику куль (див. П.16);</p>
        <p>(8) при подвійному ударі (див. П.17);</p>
        <p>(9) при пропиху (див. П.18);</p>
        <p>(10) при неправильному ударі по дотичних та кулях, що близько стоять (див. п. 19.1)</p>
        <p>(11) при неправильно завершеному ударі (див. п.20);</p>
        <p>(12) при вискакуванні битка або будь-якої прицільної кулі за борт (див. п.23.3);</p>
        <p>(13) при затягуванні партії (див. Розділ 1, п.19)</p>
        <p>Решта випадків штрафу описані в правилах конкретних ігор.</p>
        <p>27.2. Якщо при виконанні одного удару гравець здійснює декілька порушень, штраф стягується в одинарному розмірі.</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>

<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>
