﻿
@{
    ViewBag.Title = "Regulations";
}
<div class="block ">
    <h2>Правила</h2>
    <div class="moduletable">
        <ul class="category-module">
            <li>
                <h4>Карамболь</h4>
                <ul>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/StraightCannon">
                                Прямой карамболь
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/SimpleChips">
                                Простые фишки
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/FiveChips">
                                Пять фишек
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/SingleBreastedCannon">
                                Однобортный карамболь
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/ThreeBreastedCannon">
                                Трёхбортный карамболь
                            </a>
                        </h5>




                    </li>
                </ul>
            </li>
            <li>
                <h4>Пирамида</h4>
                <ul>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/PyramidRules">
                                Загальні правила Піраміда
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/FreePyramid">
                                Вільна піраміда
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/CombinedPyramid">
                                Комбінована піраміда
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/DynamicPyramid">
                                Динамічна піраміда
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/ClassicPyramidFiftyOne">
                                Класична піраміда (51 очко)
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/ClassicPyramidEight">
                                Класична піраміда (8 очок)
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/ClassicPyramidSeventyOne">
                                Класична піраміда (71 очко)
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/PyramidTeamCompetitions">
                                Командні змагання з піраміди
                            </a>
                        </h5>




                    </li>
                </ul>
            </li>
            <li>
                <h4>Пул</h4>
                <ul>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/GeneralPoolRules">
                                Общие правила пула
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/PoolOfEight">
                                Пул-восьмёрка (8-ball)
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/PoolOfNine">
                                Пул-девятка (9-ball)
                            </a>
                        </h5>




                    </li>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/PoolfFourteenPlusOne">
                                Пул 14+1 (straight pool)
                            </a>
                        </h5>




                    </li>
                </ul>
            </li>
            <li>
                <h4>Снукер</h4>
                <ul>
                    <li>
                        <h5>
                            <a class="mod-articles-category-title " href="/Regulations/Snooker">
                                Снукер
                            </a>
                        </h5>




                    </li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>