﻿
@{
    ViewBag.Title = "SimpleChips";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/SimpleChips">
                Простые фишки
            </a>
        </h2>








        <p><strong>§ 1. Количество игроков.</strong></p>
        <p>Двое и более <br><br><strong>§ 2. Используемые шары.</strong></p>
        <p>Один белый, один жёлтый и один красный шар. Допускается использование двух белых шаров, но один из них должен иметь для отличия несколько цветных точек. <br><br><strong>§ 3. Цель игры.</strong></p>
        <p>Первым набрать заранее заданное число очков (как правило 60-100 очков) <br><br><strong>§ 4. Начальная расстановка шаров.</strong></p>
        <p>Два белых шара устанавливаются на переднюю и заднюю отметки. <br><br>5 фишек (кеглей) устанавливаются следующим образом: красная ставится на среднюю точку бильярда, вокруг неё с четырёх сторон на расстоянии диаметра шара ставятся остальные белые фишки с таким расчетом, чтобы две с красной выстроились параллельно к короткому борту, а другие две с красной перпендикулярно к ним. <br><br><strong>§ 5. Начальный удар.</strong></p>
        <p>Право первого удара осуществляется раскаткой шаров. Выигравший начальный удар устанавливает биток на любое место первой или второй половины стола и выполняет удар. <br><br><strong>§ 6. Ведение игры.</strong></p>
        <p>Сбивать фишки (кегли) разрешается следующими способами: <br>&nbsp;&nbsp;&nbsp;- белым шаром или шарами от борта (бортов) после удара по белому битком. <br>&nbsp;&nbsp;&nbsp;- белым шаром от удара по нему битком, отразившемся от борта (бортов). <br>&nbsp;&nbsp;&nbsp;- белым шаром от удара по нему другим белым отразившемся от борта(бортов) <br><br>Если во время игры шары останавливаются на отметке (отметках) установки фишек (кеглей), эти фишки (кегли) на стол не ставятся и в игре не участвуют до тех пор, пока не освободятся отметки. <br><br><strong>§ 7. Подсчёт очков</strong></p>
        <p>За правильно сбитые фишки (кегли*) начисляются: <br>&nbsp;&nbsp;&nbsp;- каждая из четырёх белых фишек (кеглей) 2 очка <br>&nbsp;&nbsp;&nbsp;- красная фишка (кегля) вместе с белой или белыми 4 очка <br>&nbsp;&nbsp;&nbsp;- красная фишка (кегля), если падает одна 8 очков <br>&nbsp;&nbsp;&nbsp;- все пять фишек (кеглей) 12 очков <br>&nbsp;&nbsp;&nbsp;- за правильно сделанный карамболь 2 очка. <br><br>Если сделан карамболь и при этом не сбита ни одна фишка (кегля) - серия продолжается. После окончания серии, если не произошел фол, все правильно сделанные очки за сбитые фишки (кегли) и карамболи суммируются и записываются на текущий счёт игрока. <br><br>При фоле (штрафном ударе) все сыгранные очки в серии правильные и штрафные суммируются и записываются партнёру. <br><br><strong>§ 8. Штрафы и фолы.</strong></p>
        <p>Штраф взымается, когда играющий: <br>&nbsp;&nbsp;&nbsp;- не попадает ни в один шар, то есть даёт промах; <br>&nbsp;&nbsp;&nbsp;- выбилвает любой шар за борт; <br>&nbsp;&nbsp;&nbsp;- выполняет пропих; <br>&nbsp;&nbsp;&nbsp;- осуществляет туш любого шара; <br>&nbsp;&nbsp;&nbsp;- сбивает фишки (кегли) белым шаром напрямую; <br>&nbsp;&nbsp;&nbsp;- сбивает кегли битком; <br>&nbsp;&nbsp;&nbsp;- сыграет не битком; <br>&nbsp;&nbsp;&nbsp;- произведёт удар когда фишка (кегля) ещё не поставлена. <br>&nbsp;&nbsp;&nbsp;- нарушает правила отыгрыша. <br><br>За любое нарушение начисляется штраф 2 очка и записывается на текущий счёт соперника. Если белый шар вылетит за борт, то он выставляется на переднюю или заднюю точку противоположную к той половине стола на которой находится второй белый шар. Если за борт вылетает биток восстанавливается первоначальное расположение шаров как в начале партии и производится удар. <br><br><strong>§ 9. Отыгрыш.</strong></p>
        <p>При выполнении любого не результативного удара (без сбития фишек (кеглей) и без карамболя) вступают в силу правила отыгрыша. <br>&nbsp;&nbsp;&nbsp;- Перекат любого шара из трёх до или после соударения средней линии стола. <br>&nbsp;&nbsp;&nbsp;- На одной половине стола касание двух бортов любым из трёх шаров до и после соударения. <br><br><strong>§ 10. Конец партии.</strong></p>
        <p>Партия считается выигранной и оконченной, когда один из игроков наберёт заданное количество очков. Но если партию начинал игрок №1 и первым её закончил, игрок №2 (№3, №4, №5...) имеет (имеют) право на один подход, и если он (они) спишет все свои очки - партия может закончится в ничью. <br><br>Партия может быть окончена штрафным ударом соперника. Партия может быть окончена карамболем.</p>
        <p>&nbsp;</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>

    </div>

<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>