﻿
@{
    ViewBag.Title = "SingleBreastedCannon";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/SingleBreastedCannon">
                Однобортный карамболь
            </a>
        </h2>








        <p><strong>§ 1. Количество игроков.</strong></p>
        <p>Двое и более <br><br><strong>§ 2. Используемые шары.</strong></p>
        <p>Один белый, один жёлтый и один красный шар. Допускается использование двух белых шаров, но один из них должен иметь для отличия несколько цветных точек. <br><br><strong>§ 3. Цель игры.</strong></p>
        <p>Первым набрать заранее заданное число очков (как правило 30-60 очков) <br><br><strong>§ 4. Начальная расстановка шаров.</strong></p>
        <p><img src="/images/rules/carom_open_set2.gif" border="0" alt=""></p>
        <p><br><strong>§ 5. Начальный удар.</strong></p>
        <p>Право первого удара и выбор битка осуществляется раскаткой шаров. Весь матч каждый соперник играет своим битком (либо белым, либо жёлтым). <br><br><strong>§ 6. Ведение счёта.</strong></p>
        <p>При выполнении любого удара необходимо, чтобы биток до соударения с прицельными шарами коснулся одного или несколько бортов, либо после соударения с прицельным шаром коснулся одного или нескольких бортов, а затем - другого прицельного шара. В противном случае объявляется фол, право удара переходит к сопернику очки и не присуждаются. <br><br>За каждый результативный удар присуждается одно очко, играющий продолжает свою серию. <br><br><strong>§ 7. «Запретные зоны».</strong></p>
        <p>Ограничения в угловых запретных зонах в этой игре отсутствуют. <br><br><strong>§ 8. Фолы.</strong></p>
        <p>Фолы объявляются за пропих, за промах по шарам, туш любого шара, а за любой выскочивший за борт шар, удар не своим битком. За каждый фол с текущего счёта нарушителя списывается одно очко, серия останавливается.<br> Любой выскочивший шар выставляют на переднюю отметку (если она занята, то - на центральную отметку и если и она занята, то на заднюю отметку). <br><br><strong>§ 9.</strong></p>
        <p>Играть с машинкой запрещено. <br><br><strong>§ 10. Фора.</strong></p>
        <p>Фора даётся очками. <br><br><br> <em><strong>Примечание:</strong> Существует право последнего удара, для игрока который начинал партию вторым. То есть в партии возможен ничейный результат. На соревнованиях эта партия переигрывается</em></p>
        <p>&nbsp;</p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>

    </div>
    </div>

    <style>
        body {
            background-color: darkgreen;
        }

        .block {
            background-color: white;
        }
    </style>
