﻿
@{
    ViewBag.Title = "Snooker";
}

<div class="block ">
    <div class="item-page">
        <h2>
            <a href="/Regulations/Snooker">
                Снукер
            </a>
        </h2>




        <p style="text-align: left;">
            <strong>§1. Стол.</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Игра ведется на столах размером 12х6 футов (3569 х 1778 мм) или 10х5 футов,<br>&nbsp;&nbsp;&nbsp; диаметр шаров - 52,4 мм.<br>
            <strong>§2. Число игроков.</strong><br>&nbsp;&nbsp;&nbsp; Двое.<br>
            <strong>§3. Набор шаров для снукера.</strong>
            <br>&nbsp;&nbsp;&nbsp; 15 красных шаров, 6 цветных и белый биток. Цветные шары имеют определенную стоимость по очкам:<br>&nbsp;&nbsp;&nbsp; красный - 1,<br>&nbsp;&nbsp;&nbsp; желтый - 2,<br>&nbsp;&nbsp;&nbsp; зеленый - 3,<br>&nbsp;&nbsp;&nbsp; коричневый - 4,<br>&nbsp;&nbsp;&nbsp; синий - 5,<br>&nbsp;&nbsp;&nbsp; розовый -6,<br>&nbsp;&nbsp;&nbsp; черный - 7. <br>

            <br><strong>§4. Цель игры.</strong><br>&nbsp;&nbsp;&nbsp; Нужно набрать большее, чем у соперника, количество очков.<br><strong>§5. Ведение счёта.</strong>
            <br>&nbsp;&nbsp;&nbsp; Очки набирают при правильном сыгрывании шаров, получая соответствующее количество по цвету шаров; прибавляются штрафные очки соперника. Партия заканчивается согласно правилам игры после того, как сыграны все шары. Но если остался лишь один черный шар, то играется до первого забития или первого нарушения.<br><br><strong><span style="font-size: medium;">Правила</span></strong><br>&nbsp;&nbsp; <strong>1.</strong> После правильно забитого шара игрок продолжает удары до промаха или нарушения.<br>&nbsp;&nbsp; <strong>2.</strong> При ударе биток должен коснуться очередного шара (красный или цветной). В противном случае налагается штраф. При этом не обязательно доводить шары до бортов или забивать в лузы.<br>&nbsp;&nbsp; <strong>3.</strong> Если при ударе битка в красный шар падает любой другой красный, то он засчитывается.<br>&nbsp;&nbsp; <strong>4.</strong> Игра идет поочередно забиванием красного шара и затем любого цветного, но с объявлением конкретного цветного шара. И при ударе биток должен коснуться сначала именно этого шара, в противном случае - штраф.<br>&nbsp;&nbsp; <strong>5.</strong> Если очередным шаром является красный, а забит цветной, то налагается штраф.<br>&nbsp;&nbsp; <strong>6.</strong> Перескоки шара не допускаются.<br>&nbsp;&nbsp; <strong>7.</strong> При наличии красных шаров на столе каждый забитый цветной шар выставляется до нанесения следующего удара. Если удар произведен при неправильно выставленном цветном шаре и соперник или судья заметили это до нанесения следующего удара, то налагается штраф.<br>&nbsp;&nbsp; <strong>8.</strong> После сыгрывания всех красных шаров забиваются цветные шары в порядке возрастания их стоимости, которые после сыгрывания уже не выставляются, за исключением черного шара в случае ничейного результата, выставляемого на исходную позицию. После розыгрыша игрок выполняет удар с руки из сектора до забития или нарушения.<br><br><strong>§ 1. Начальный удар.</strong><br>&nbsp;&nbsp;&nbsp; Право выбора очередности ударов в первой партии определяется в результате жребия или розыгрыша. Начальный удар производится с руки из сектора (см. рисунок). Биток должен коснуться красного шара, в противном случае налагается штраф. Штрафные очки присуждаются вступающему игроку, который может играть сам из сложившейся ситуации или просить соперника произести удар заново.<br><strong>§2. Неправильно забитые шары.</strong><br>&nbsp;&nbsp;&nbsp; Неправильно забитые красные шары не выставляются. Неправильно забитые цветные шары выставляются.<br><strong>§3. Выставление шаров.</strong><br>&nbsp;&nbsp;&nbsp; Красные шары не выставляются. Цветные шары выставляются на свои отметки. Если отметка занята, то ставят на свободную отметку, соответствующую шару наибольшей стоимости. Если все отметки заняты, то цветной шар ставят как можно ближе к первоначальной отметке со стороны заднего борта. Если розовый или черный шар невозможно поставить на указанное место, то их надо ставить ближе к своей точке, но в сторону середины стола.<br><strong>§4. Выскочившие прицельные шары.</strong><br>&nbsp;&nbsp;&nbsp; Выскочившие красные шары не выставляются, а цветные шары выставляются, при этом налагается штраф.<br><strong>§5. Сыгранные шары.</strong><br>&nbsp;&nbsp;&nbsp; Шары считаются сыгранными (забитыми), если они в результате правильного удара падают в лузы.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Шар, отразившийся от лузы на игровую поверхность стола, остается в игре.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Прицельный шар, упавший в лузу в результате преднамеренного скатывания его по борту, не засчитывается и выставляется в соответствии с правилами конкретной игры, при этом штраф не налагается.<br><strong>§6. Выскочивший биток.</strong><br>&nbsp;&nbsp;&nbsp; При выскакивании битка вступающий в игру соперник играет с руки из сектора. При этом можно забивать любой из очередных шаров.<br><strong>§7. Снукер (маска).</strong><br>&nbsp;&nbsp;&nbsp; Биток в положении снукера (замаскирован) - если нет возможности произвести прямой удар ни по одному из очередных прицельных шаров. Если прямой удар возможен хотя бы по одному из прицельных шаров, то снукера нет.<br><strong>§8. Соприкосающиеся шары.</strong><br>&nbsp;&nbsp;&nbsp; Два шара плотно касаются друг друга. В этом случае удар наносится в сторону от осевой линии, соединяющей центры двух шаров. В противном случае удар ошибочен (пропих).<br><strong>§9. Промах по шару.</strong><br>&nbsp;&nbsp;&nbsp; В случае промаха по шару битком объявляется штраф. Вступающий в игру игрок может принять сложившуюся позицию или предложить нарушителю играть с исходной позиции, т.е. повторить удар.<br><strong>§10. Свободный шар.</strong><br>&nbsp;&nbsp;&nbsp; Если биток оказался в полжении снукера после нарушения, то объявляется «свободный шар». Если соперник принимает эту позицию и производит удар, он может объявить очередным любой шар. Стоимость объявленного шара при этом приравнивается к стоимости очередного ( в который надо было бы бить). Штраф налагается в случае если биток не попадает в объявленный шар или биток после удара оказался замаскирован свободным шаром, за тем исключением, когда на столе остались только розовый и черный шары. Если свободный шар сыгран в лузу, то он выставляется, а игроку засчитывается стоимость очередного шара. Если сыгран очередной шар, то игроку засчитывается его стоимость. Если сыгран и свободный и очередной, то засчитывается стоимость только очередного шара. («Снукер другой». Биток находится в позиции «снукер другой»).<br><strong>§11. Постановка за губу.</strong><br>&nbsp;&nbsp;&nbsp; Биток считается поставленным за губу лузы, если борта не позволяют произвести прямой удар битком ни по одному из очередных шаров. Если биток поставлен за губу после нарушения, то соперник или принимает данную позицию и производит удар, или производит удар с руки из сектора.<br><strong>§12. Miss.</strong><br>&nbsp;&nbsp;&nbsp; Если игрок может попасть по своим способностям в прицельный шар или часть его прямым ударом, но не попадает, то судья объявляет miss. После определения miss-а биток ставится в прежнюю позицию, за исключением случая, когда эта ситуация выгодна игроку, совершившему ошибку. После восстановления прежней позиции шара (или шаров) выслушиваются мнения игроков, но слово судьи решающее.<br><strong>§13. Зависшие шары.</strong><br>&nbsp;&nbsp;&nbsp; - если шар попал в лузу не вследствие столкновения, то он ставится на прежнее место;<br>&nbsp;&nbsp;&nbsp; - если во время удара игрок совершает ошибку, то очки получает соперник и каждый шар ставится обратно на прежнее место.<br><strong>§14. Ошибки.</strong><br>&nbsp;&nbsp;&nbsp; - после ошибки соперник играет с того места, где остановился биток;<br>&nbsp;&nbsp;&nbsp; - если совершено несколько ошибок во время удара, то соперник получает очки за наихудшую из них;<br>&nbsp;&nbsp;&nbsp; - после ошибки по просьбе соперника игрок должен бить дальше;<br>&nbsp;&nbsp;&nbsp; - в случае определения miss игрок должен бить из восстановленной позиции.<br><strong>§15. Штрафы за нарушения.</strong><br>&nbsp;&nbsp;&nbsp; За следующие нарушенияналагается штраф в установленном размере, но не менее 4-х очков.<br>&nbsp;&nbsp;&nbsp; 1. В размере стоимости очередного шара, если:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - шары не остановились до нанесения удара;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - нанесение нескольких ударов по битку;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - был отрыв обеих ног от пола;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - удар произведен вне очереди;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - неправильный удар с руки из сектора;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - промах по прицельным шарам;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - биток упал в лузу;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - при свободном выборе шара биток по-прежнему остался в позиции «снукера»;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - битком выполнен удар-перескок (т.е. биток перепрыгивает любой шар до соударения с прицельным шаром).<br>&nbsp;&nbsp;&nbsp; 2. В размере стоимости прицельного или более ценного шара, связанного с нарушением, если:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - в лузу попал неочередной шар;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - биток попал не в прицельный шар;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - был выполнен удар-пропих;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - игрок прикоснулся к шарам чем-либо, кроме наклейки кия;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - шар выскочил за борт.<br>&nbsp;&nbsp;&nbsp; 3. В размере стоимости очередного шара или соответствующих 2-х шаров ( в зависимости от того, что больше): при попадании битком в эти два шара одновременно, за исключением случая 2-х красных или свободного выбора.<br>&nbsp;&nbsp;&nbsp; 4. В размере семи очков, если:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - совершена ошибка после сыгрывания красного шара, но до заказа цветного шара;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - используется любой шар иначе, чем для игры;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - играется по красному, когда на очереди цветной;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - используется вместо битка любой шар.<br><br>
        </p>
        <ul class="pagenav">
            <li class="pagenav-prev">
                <a href="/Regulations/Regulations" rel="prev">&lt; Назад</a>
            </li>
        </ul>
    </div>
    </div>

<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>


