﻿
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Головна", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Спортсмени", "Sportsman", "Sportsman")</li>
                    <li>@Html.ActionLink("Рейтинг", "Reiting", "Sportsman")</li>
                    <li>@Html.ActionLink("Змагання","Competitions","Competition")</li>
@if (Request.IsAuthenticated)
{
                    <li>@Html.ActionLink("Прогнози", "PrognosticationMain", "Prognostication")</li>
}
                    <li>@Html.ActionLink("Правила", "Regulations", "Regulations")</li>
                     @if (User.IsInRole("admin"))
                     {
                 <li>  @Html.ActionLink("Користувачі", "Users", "User")</li>
                <li>@Html.ActionLink("Файли", "Files", "Home")</li>
                     }
                    





                </ul>
                <ul class="nav navbar-nav navbar-right">
                   
                        
                
                        @if (!Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Реєстрація", "Register", "Account")</li>
                            <li>@Html.ActionLink("Вхід", "Login", "Account")</li>
                        }

                        else
                        {
                            <li>@Html.ActionLink("Особистий кабінет", "PersonalOffice", "Home")</li>
                            <li>@Html.ActionLink("Вихід", "Logoff", "Account")</li>
                        }


                    


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
