﻿@model WebApplication1.Models.LoginModel
@{
    ViewBag.Title = "Login";

}
<h2>Вхід</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Пошта" })
            @Html.ValidationMessageFor(model => model.email)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(model => model.password, new { @class = "form-control", @placeholder = "Пароль" })
            @Html.ValidationMessageFor(model => model.password)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Увійти" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}