﻿@model WebApplication1.News

@{
    ViewBag.Title = "Delete";
}



<h3>Ви дійсно хочете видалити новину?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Заголовок новини")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title_news)
        </dd>

        <dt>
            @Html.DisplayName("Текст")
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.name_news, new { style = "width: 75%; max-width: 100%; height: 200px" })
        </dd>

        <dt>
          @Html.DisplayName("Дата")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_news)
        </dd>

        <dt>
            @Html.DisplayName("Автор")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_news)
        </dd>

        <dt>
            @Html.DisplayName("Файл")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Files.file_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутися назад", "Index")
        </div>
    }
</div>
