﻿@model WebApplication1.Files

@{
    ViewBag.Title = "Додавання файла";
}

<h2>Додавання файла</h2>


@using (Html.BeginForm("FileAdd", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.file_path, "Виберіть файл", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="upload" required />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.file_path, "Ім'я файлу", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="fileName" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Додати" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Повернутися назад", "Files")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
