﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<WebApplication1.Files>

@{
    ViewBag.Title = "Список файлів";

    int page;
    bool res = int.TryParse(Request.QueryString["pageNumber"], out page);
    if (!res)
    {
        page = 1;
    }
    int count = ((page - 1) * 9) + 1;
}

<h2>Файли</h2>

<p>
    @Html.ActionLink("Додати новий", "FileAdd")
</p>

@using (Html.BeginForm("Files", "Home", FormMethod.Get))
{
    <label>
        Ім'я
        @Html.TextBox("search")
    </label>

    <input id="submit" type="submit" name="submit" value="Поиск" />
}

<table class="table">
    <tr>
        <th>№</th>
        <th>
            @Html.ActionLink("Ім'я", "Files", new { sort = ViewBag.SortByName, search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.DisplayName("Шлях")
        </th>
        <th>
            @Html.DisplayName("Вигляд")
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr class="text-center font-weight-bold"><td colspan="4">Записи не знайдені</td></tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@(count++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.file_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.file_path)
                </td>
                <td>
                    <img src="@item.file_path" width="300" height="311" class="admin-img" />
                </td>
                <td>
                    @Html.ActionLink("Видалити", "FileDelete", "Home", new { id = item.file_id }, null)
                </td>
            </tr>
        }
    }

</table>

@Html.PagedListPager(Model, pageNumber => Url.Action("Files", new { pageNumber, sort = Request.QueryString["sort"], search = Request.QueryString["search"] }))

<div>
    @Html.ActionLink("Повернутися назад", "Files")
</div>