﻿@model WebApplication1.Files

@{
    ViewBag.Title = "FileDelete";
}



<h3>Ви дійсно хочете видалити файл?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Шлях")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_path)
        </dd>

        <dt>
            @Html.DisplayName("Ім'я файле")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутися назад", "Files")
        </div>
    }
</div>
