﻿
@{
    ViewBag.Title = "Home Page";
    
}
<div class="block">
    @if (User.IsInRole("admin"))
    {
        <a href="/Home/Create">Додати</a>
    }

    @foreach (var r in ViewBag.News)
    {
        

        <div>
            <div class="wrap">
                <div class="h4">
                    <h4>@r.title_news</h4>
                </div>

                @foreach (var k in ViewBag.Files)
                {

                    if (r.file_id == k.file_id)
                    {
                        <div class="foto">
                            <img src="@k.file_path" width="300" height="311" />
                        </div>
                    }

                }
            </div>
         
                <span>@r.name_news </span>
                <p> Дата:@r.date_news.ToShortDateString()  <br />     Автор:@r.author_news</p>
           

            </div>
            if (User.IsInRole("admin"))
                {
                <td><a href="/Home/Edit/@r.id_news">Редагувати</a></td>
                <br />
                        <td><a href="/Home/Delete/@r.id_news">Видалити</a></td>
            }




    }
</div>



<style>
    .foto img {
        display: block;
        margin: 0 auto;
    }
    .h4 h4 {
        text-align:center;
    }
    .read-more-state {
        display: none;
    }
    .read-more-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: initial;
        -webkit-box-orient: vertical;
  
    }

    .read-more-target {
        opacity: 0;
        max-height: 50%;
        font-size: 0;
        transition: .25s ease;
        
    }

    .read-more-state:checked ~ .read-more-wrap .read-more-target {
        opacity: 1;
        font-size: inherit;
        max-height: 999em;
    }

    .read-more-state ~ .read-more-trigger:before {
        content: 'Show more';
    }

    .read-more-state:checked ~ .read-more-trigger:before {
        content: 'Show less';
    }

    .read-more-trigger {
        cursor: pointer;
        display: inline-block;
        padding: 0 .5em;
        color: #666;
        font-size: .9em;
        line-height: 2;
        border: 1px solid #ddd;
        border-radius: .25em;
    }
    body {
        background-color:darkgreen;
    }
    .block {
        background-color: white;
        
    }
    .news {
        overflow: hidden;
        height: 50%;
        width: 50%;
        transition: all 0.5s;
       
    }

   
</style>



