﻿
@{
    ViewBag.Title = "PersonalOffice";
}
<div class="block">
    <h2>Особистий кабінет</h2>

    @if (User.Identity.IsAuthenticated)
    {
        foreach (var r in ViewBag.Users)
        {
            if (r.email_user == User.Identity.Name)
            {

                <p> Ім'я: @r.name_user</p>
                <p> Логин: @r.email_user</p>
                foreach (var g in ViewBag.Role)
                {
                    if (r.id_role == g.id_role)
                    {
                        <p>Права: @g.name_role</p>
                    }
                }
                <a href="/User/EditUsers/@r.id_user">Редагувати</a>
                <a href="/User/DeleteAccount/@r.id_user">Видалити</a>
            }
        }


    }
</div>
<style>
    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>