﻿@{
    ViewBag.Title = "Прогнози";
}
<div class="block">
    <div class="h2">
        <h2>Прогнози</h2>
    </div>

    <div class="prognostication">
        <p />
       
        <table class="demotable" width=90% height=10px border=1 valign=MIDDLE>
            <tr>
                <td>Назва змагань</td>
                <td>Дисципліна</td>
                <td>Країна</td>
                <td>Місто</td>
            </tr>
             @foreach (var item in ViewBag.Competition)
                {
                <tr>  
                    <td>@Html.ActionLink((string)item.name_competition, "Prognostication", new { IdCompetition = @item.id_competition })</td>
                    <td>
                        @foreach (var q in ViewBag.Discipline)
                        {
                            if (item.id_discipline == q.id_discipline)
                            {
                                @q.name_discipline
                            }
                        }
                    </td>
                    <td>@item.country_competition</td>
                    <td>@item.city_competition</td>

                    
                    
                </tr>
                }     
        </table>
        <br />
    </div>
</div>

<style>
 

    .h2 {
        margin-left: 5%;
    }


    .demotable {
        border-collapse: collapse;
        counter-reset: schetchik;
        margin: auto;
    }

        .demotable tbody tr:nth-child(n+2) {
            counter-increment: schetchik;
        }

        .demotable td,
        .demotable tbody tr:before {
            padding: .1em .5em;
            border: 1px solid;
        }

        .demotable tbody tr:before {
            display: table-cell;
            vertical-align: middle;
            height: 35px;
        }

        .demotable tbody tr:before,
        .demotable b:after {
            content: counter(schetchik);
            color: black;
            height: 35px;
        }

        .demotable tbody tr:nth-child(-n+1):before {
            content: "";
        }

    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>

