﻿@{
    ViewBag.Title = "Прогнози";
}
<div class="block">
    <div class="h2">
        <h2>Прогнози</h2>
    </div>

    <div class="prognostication">
        <p />
        <table class="demotable">
            <tr>
                <td>Стадія</td>
                <td>Гравець1</td>
                <td></td>
                <td></td>
                <td>Гравець2</td>

            </tr>
            @foreach (var r in ViewBag.Prognostication)
            {
                if (r.id_competition == ViewBag.IdCompetition)
                {
                <tr>
                    <td>
@foreach (var g in ViewBag.Game)
{
    if (r.id_game == g.id_game)
    {
        @g.name_game
    }
}
                    </td>
                   
                    <td>
                        @foreach (var g in ViewBag.Game)
                        {
                            if (r.id_game == g.id_game)
                            {
                                foreach (var q in ViewBag.Sportsman)
                                {
                                    if (q.id_sportsman == g.sportsman_id_1)
                                    {

                                        @q.name_sportsman

                                    }
                                }


                            }
                        }
                    </td>
                    <td>@r.percent_sportsman_1%</td>
                    <td>@r.percent_sportsman_2%</td>
                    <td>
                        @foreach (var k in ViewBag.Game)
                        {
                            if (r.id_game == k.id_game)
                            {

                                foreach (var q in ViewBag.Sportsman)
                                {
                                    if (q.id_sportsman == k.sportsman_id_2)
                                    {

                                        @q.name_sportsman

                                    }
                                }
                            }
                        }
                    </td>

                </tr>
                }
            }
        </table>
        <br />
        
    </div>
    <div>
        @Html.ActionLink("Повернутися до списку", "PrognosticationMain")
    </div>
    </div>


   <style>
    

    .h2 {
        margin-left: 5%;
    }

   

    .demotable {
        border-collapse: collapse;
        width: 90%;
        margin: auto;
        height: 10px;
        border: 1;
    }

        .demotable tr {
        }

            .demotable td,
            .demotable tr:before {
                padding: .1em .5em;
                border: 1px solid;
                color: black;
                height: 40px;
            }

            .demotable tr:before {
                display: table-cell;
                vertical-align: middle;
                color: black;
                height: 40px;
            }

    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>

