﻿@model WebApplication1.Sportsman

@{
    ViewBag.Title = "Delete";
}



<h3>Ви дійсно хочете видалити спортсмена?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Прізвище Ім'я")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_sportsman)
        </dd>

        <dt>
            @Html.DisplayName("Дата народження")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday_sportsman)
        </dd>

        <dt>
            @Html.DisplayName("Країна")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country_sportsman)
        </dd>

        <dt>
            @Html.DisplayName("Місто")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city_sportsman)
        </dd>

        <dt>
            @Html.DisplayName("Кількість змагань")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.count_competition)
        </dd>

    

        <dt>
            @Html.DisplayName("Результативність")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.performance)
        </dd>

    

        <dt>
            @Html.DisplayName("Звання")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ranks.name_rank)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутися назад", "Sportsman")
        </div>
    }
</div>
