﻿
@{
    ViewBag.Title = "Рейтинг";
}
<div class="block">
    <div class="h2">
        <h2>Рейтинг</h2>
    </div>
    <div class="sportsman ">
        <p />

        <table class="demotable" width=90% height=10px border=1 valign=MIDDLE>
            <tbody>
                <tr>

                    <td>Прізвище Ім'я</td>
                    <td>Змагання</td>
                    <td>Результативність</td>
                    <td>Бали</td>


                </tr>

                @foreach (var r in ViewBag.Sportsman)
            {
                    <tr>

                        <td>@r.name_sportsman</td>
                        <td>@r.count_competition</td>
                        <td>@r.performance</td>
                        <td>@r.point</td>

                    </tr>
                }
        </table>
        <br />

    </div>
</div>
<style>
   

    .h2 {
        border-collapse: collapse;
        margin-left: 10%;
    }

    .demotable {
        border-collapse: collapse;
        counter-reset: schetchik;
        margin:auto;
    }

        .demotable tbody tr:nth-child(n+2) {
            counter-increment: schetchik;
        }

        .demotable td,
        .demotable tbody tr:before {
            padding: .1em .5em;
            border: 1px solid;
        }

        .demotable tbody tr:before {
            display: table-cell;
            vertical-align: middle;
            height: 35px;
        }

        .demotable tbody tr:before,
        .demotable b:after {
            content: counter(schetchik);
            color: black;
            height: 35px;
        }

        .demotable tbody tr:nth-child(-n+1):before {
            content: "";
        }

    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>
