﻿
@{
    ViewBag.Title = "Спортсмени";
}
<div class="block ">
    <div class="h2 ">
        <h2>Спортсмени</h2>
    </div>

    <div class="sportsman ">
        <p />

        <div class="a">
            @if (Request.IsAuthenticated)
            {

                if (!User.IsInRole("user"))
                {
                    <a href="/sportsman/Create">Додати</a>
                }
            }
        </div>
        <table class="demotable">
            <tr>

                <td>Прізвище Ім'я</td>
                <td>Дата народження</td>
                <td>Звання</td>
                <td>Країна</td>
                <td>Міто</td>
                <td>Кількість Змаганнь</td>

            </tr>
            @foreach (var r in ViewBag.Sportsman)
            {
                <tr>

                    <td>@r.name_sportsman</td>
                    <td>@r.birthday_sportsman.ToShortDateString()</td>
                    <td>
                        @foreach (var g in ViewBag.Ranks)
                {
                    if (r.id_rank == g.id_rank)
                    {
                                @g.name_rank
                            }
                        }
                    </td>
                    <td>@r.country_sportsman</td>
                    <td>@r.city_sportsman</td>
                    <td>@r.count_competition</td>

                    @if (User.IsInRole("admin"))
                {
                        <td><a href="/sportsman/Edit/@r.id_sportsman">Редагувати</a></td>
                        <td><a href="/sportsman/Delete/@r.id_sportsman">Видалити</a></td>
                    }
                </tr>
            }
        </table>
        <br />

    </div>
    </div>

    <style>
        .a {
            border-collapse: collapse;
            margin-left: 10%;
        }
        .h2 {
            border-collapse: collapse;
            margin-left: 10%;
        }
        .demotable {
            border-collapse: collapse;
            counter-reset: schetchik;
            margin: auto;
        }

            .demotable tbody tr:nth-child(n+2) {
                counter-increment: schetchik;
            }

            .demotable td,
            .demotable tbody tr:before {
                padding: .1em .5em;
                border: 1px solid ;
            }

            .demotable tbody tr:before {
                display: table-cell;
                vertical-align: middle;
                height:35px;
            }

            .demotable tbody tr:before,
            .demotable b:after {
                content: counter(schetchik);
                color: black;
                height: 35px;
            }

            .demotable tbody tr:nth-child(-n+1):before {
                content: "";
            }

        body {
            background-color: darkgreen;
        }

        .block {
            background-color: white;
        }
    </style>
