﻿@model WebApplication1.Users

@{
    ViewBag.Title = "Delete";
}



<h3>Ви дійсно хочете видалити аккаунт?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Ім'я")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_user)
        </dd>

        <dt>
            @Html.DisplayName("Пошта")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_user)
        </dd>

        <dt>
            @Html.DisplayName("Пароль")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password_user)
        </dd>

        <dt>
            @Html.DisplayName("Роль")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.name_role)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
           @Html.ActionLink("Повернутися назад", "PersonalOffice", "Home")
        </div>
    }
</div>
