﻿@model WebApplication1.Users

@{
    ViewBag.Title = "Edit";
}

<h2>Редагування користувача</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_user)

        <div class="form-group">
            @Html.LabelFor(model => model.name_user,"Ім'я", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
             @foreach (var g in ViewBag.Users)
             {
                 if (g.id_user == ViewBag.Id)
                 {
                    @g.name_user
                 }

             }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email_user,"Пошта", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @foreach (var g in ViewBag.Users)
                {
                    if (g.id_user == ViewBag.Id)
                    {
                        @g.email_user
                    }

                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_role, "Роль", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_role", new SelectList(@ViewBag.Role, "id_role", "name_role"), "Назва ролі", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_role, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Повернутися назад", "Users")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
