﻿
@{
    ViewBag.Title = "User";
}



<h3>Користувачі</h3>

<p>
    @Html.ActionLink("Створити", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ім'я
        </th>
        <th>
            Email
        </th>
        
        <th>
            Роль
        </th>
    </tr>

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.name_user
            </td>

            <td>
                @item.email_user
            </td>
            <td>
                @foreach (var role in ViewBag.Role)
                {
                    if (item.id_role == role.id_role)
                    {
                        @item.Role.name_role
                    }
                }

            </td>
           
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.id_user }) |
                @Html.ActionLink("Видалити", "Delete", new { id = item.id_user })
            </td>
        </tr>
    }

</table>
