﻿
@{
    ViewBag.Title = "Ranks";
}

<h2>View</h2>

<div class="Ranks">
    <p />
    <a href="/sportsman/Create">Добавить</a>
    <table>
        <tr>
            <td>Індекс Спортсмена</td>
            <td>Прізвище Ім'я</td>
            
        </tr>
        @foreach (var r in ViewBag.Ranks)
        {
            <tr>
                <td>@r.id_rank</td>
                <td>@r.name_rank</td>
                
                <td><a href="/sportsman/Edit/@r.id_rank">Edit</a></td>
                <td><a href="/sportsman/Delete/@r.id_rank">Delete</a></td>
            </tr>
        }
    </table>
    <br />

</div>

