﻿@model WebApplication1.Competition_sportsman

@{
    ViewBag.Title = "Додати спортсмена";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Додати спортсмена</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.id_sportsman, "Ім'я спортсмена", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_sportsman", new SelectList(@ViewBag.Sportsman, "id_sportsman", "name_sportsman"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_sportsman, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Додати" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Спортсмени", "CompetitionSportsman", new { ViewBag.IdCompetition })
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
