﻿
@{
    ViewBag.Title = "CompetitionSportsman";

}
<div class="block">
    <div id="results">
        <div class="h2">
            <h2>Спортсмени</h2>

        </div>
        <div class="CompetitionSportsman">
            <p />



            <div class="navbar-collapse ">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Регламент", "Regulations", new { ViewBag.IdCompetition })</li>
                    <li>Спортсмени</li>
                    <li><a href="/Game/Game/@ViewBag.IdCompetition">Ігри</a></li>

                    <li>@Html.ActionLink("Результат", "ResultSportsman", new { ViewBag.IdCompetition })</li>
                </ul>


            </div>


            <table class="demotable" width=90% height=10px border=1 valign=MIDDLE>
                <tr>

                    <td>Ім'я спортсмена</td>
                    <td>Дата народження</td>
                    <td>Звання</td>
                    <td>Місто</td>
                    <td>Жерб.</td>


                </tr>
                @foreach (var r in ViewBag.CompetitionSportsman)
            {

                if (r.id_competition == ViewBag.IdCompetition)
                {
                        <tr>
                            @foreach (var g in ViewBag.Sportsman)
                            {

                                if (r.id_sportsman == g.id_sportsman)
                                {

                                    <td>   @g.name_sportsman</td>
                                                <td>@g.birthday_sportsman.ToShortDateString()</td>
                                                <td>
                                                    @foreach (var q in ViewBag.Ranks)
                                                    {
                                                        if (g.id_rank == q.id_rank)
                                                        {
                                                            @q.name_rank
                                                        }
                                                    }
                                                </td>
                                                <td>  @g.city_sportsman</td>
                                                <td>@r.toss</td>
                                }


                            }
                            @if (User.IsInRole("admin"))
                            {
                                if (r.toss == null)
                                {

                                    <td><a href="/Competition/DeleteSportsman/@r.id_competition">Видалити</a></td>
                                }
                            }

                        </tr>
                    }


                }


            </table>
        </div>

        <br />


       @if (ViewBag.Competition_sportsmans == null)
       {
                <div class="link">

                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Додати спортсмена", "AddSportsman", new { ViewBag.IdCompetition })
                        <div>
                            @using (Ajax.BeginForm("EditCompetitionSportsman", new { ViewBag.IdCompetition }, new AjaxOptions { UpdateTargetId = "results" }))
                            {

                                <input type="submit" value="Почати змагання" class="btn btn-default" />

                            }

                        </div>
                    }
                </div>

       }
    </div>
</div>


@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<style>
    .link {
        margin-left: 5%;
    }

    .h2 {
        margin-left: 5%;
    }

    .navbar-collapse {
        margin-left: 5%;
    }

    .demotable {
        border-collapse: collapse;
        counter-reset: schetchik;
        margin: auto;
    }

        .demotable tbody tr:nth-child(n+2) {
            counter-increment: schetchik;
        }

        .demotable td,
        .demotable tbody tr:before {
            padding: .1em .5em;
            border: 1px solid;
        }

        .demotable tbody tr:before {
            display: table-cell;
            vertical-align: middle;
            height: 35px;
        }

        .demotable tbody tr:before,
        .demotable b:after {
            content: counter(schetchik);
            color: black;
            height: 35px;
        }

        .demotable tbody tr:nth-child(-n+1):before {
            content: "";
        }

    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>
