﻿
@{
    ViewBag.Title = "Змагання";
}
<div class="block">
    <div class="h2">
        <h2>Змагання</h2>
    </div>

    <div class="competitions">
        <p />
        <div class="a">
            @if (User.IsInRole("admin"))
            {
                <a href="/Competition/Create">Додати</a>
            }
        </div>
        <table class="demotable"    valign=MIDDLE>
            <tr>

                <td>Дата</td>
                <td>Назва змагань</td>
                <td>Дисципліна</td>
                <td>Країна</td>
                <td>Місто</td>


            </tr>
            @foreach (var r in ViewBag.Competition)
            {
                <tr>


                    <td>@r.date_start.ToShortDateString()  <br />  @r.date_end.ToShortDateString()</td>
                    <td>@Html.ActionLink((string)@r.name_competition, "Regulations", new { IdCompetition = @r.id_competition })</td>

                    <td>
                        @foreach (var q in ViewBag.Discipline)
                {
                    if (r.id_discipline == q.id_discipline)
                    {
                                @q.name_discipline
                            }
                        }
                    </td>
                    <td>@r.country_competition</td>
                    <td>@r.city_competition</td>


                    @if (User.IsInRole("admin"))

                    {
                        if (r.competiton_status !=true)
                        {
                        <td><a href="/Competition/Edit/@r.id_competition">Редагувати</a></td>
                        <td><a href="/Competition/Delete/@r.id_competition">Видалити</a></td>
                        }
                    }
                </tr>
            }

        </table>

        <br />

    </div>
    </div>

<style>
    .a {
        margin-left: 5%;
    }

    .h2 {
        margin-left: 5%;
    }

    .navbar-collapse {
        margin-left: 5%;
    }

    .demotable {
        border-collapse: collapse;
        width: 90%;
        margin: auto;
        height: 10px;
        border: 1;
        
    }

        .demotable tr {
            
        }

            .demotable td,
            .demotable tr:before {
                padding: .1em .5em;
                border: 1px solid;
                color: black;
                height: 40px;
            }

            .demotable tr:before {
               
                display: table-cell;
                vertical-align: middle;
                color: black;
                height: 40px;
            }

    body {
        background-color: darkgreen;
    }

    .block {
        background-color: white;
    }
</style>
