﻿@model WebApplication1.Competition_sportsman

@{
    ViewBag.Title = "DeleteSportsman";
}



<h3>Ви дійсно хочете видалити спортсмена з турніру?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayName("Ім'я")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sportsman.name_sportsman)
        </dd>

        

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутися назад", "CompetitionSportsman", new { ViewBag.IdCompetition })
        </div>
    }
</div>
