﻿@model WebApplication1.Competition

@{
    ViewBag.Title = "Delete";
}



<h3>Ви дійсно хочете видалити змагання?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Назва")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_competition)
        </dd>

        <dt>
            @Html.DisplayName("Дата початку")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_start)
        </dd>

        <dt>
            @Html.DisplayName("Дата завершення")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_end)
        </dd>

        <dt>
            @Html.DisplayName("Країна")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country_competition)
        </dd>

        <dt>
            @Html.DisplayName("Місто")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city_competition)
        </dd>

        <dt>
            @Html.DisplayName("Дисципліна")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discipline.name_discipline)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутися назад", "Competitions")
        </div>
    }
</div>
