﻿
@{
    ViewBag.Title = "Grid";
}




    <h3>S4</h3>


    <body>
        <div class="item-page">
            <table class="match" id="m1" style="top: 115px; left: 115px;">
                <tr><td></td><td class="n">#1</td><td></td><td></td></tr>
                <tr><td class="nz">1</td><td class="name">Player1</td><td class="s">S1a</td><td class="line"></td></tr>
                <tr><td class="nz">4</td><td class="name">Player4</td><td class="s">S1b</td><td></td></tr>
                <tr><td colspan="4" class="place"></td></tr>
            </table>

            <table class="match" id="m2" style="top: 205px; left: 115px;">
                <tr><td></td><td class="n">#2</td><td></td><td></td></tr>
                <tr><td class="nz">3</td><td class="name">@Html.DropDownList("sportsman_id_1", new SelectList(@ViewBag.Sportsman, "id_sportsman", "name_sportsman"))</td><td class="s">S2a</td><td class="line"></td></tr>
                <tr><td class="nz">2</td><td class="name">Player2</td><td class="s">S2b</td><td></td></tr>
                <tr><td colspan="4" class="place"></td></tr>
            </table>

            <table class="match" id="m3" style="top: 160px; left: 280px;">
                <tr><td></td><td class="n">#3</td><td></td><td></td></tr>
                <tr><td class="line"></td><td class="name">Win1</td><td class="s">S3a</td><td></td></tr>
                <tr><td></td><td class="name">Win2</td><td class="s">S3b</td><td></td></tr>
                <tr><td colspan="4" class="place">Финал</td></tr>
            </table>
            
                <hr  class="vr" noshade size="1" style="left: 234px; top: 180px; border-color:black" />
            
        </div>
</body>
    

    <style type="text/css">
        body {
            font-family: Arial;
        }

        table.match {
            border-collapse: collapse;
            position: absolute;
        }

        td.n, td.name, td.s, td.nz, td.place {
            font-size: 10pt;
        }

        td.n {
            font-weight: 700;
        }

        td.name {
            border: 1px solid black;
            width: 110px;
            padding-left: 5px;
        }

        td.s {
            border: 1px solid black;
            width: 24px;
            text-align: center;
            vertical-align:central;
        }

        td.nz {
            font-style: italic;
            width: 10px;
        }

        td.line {
            border-bottom: 1px solid black;
            width: 15px;
        }

        td.place {
            font-style: italic;
            text-align: center;
            font-weight: 700;
        }

        .vr {
            position: absolute;
            border-right: none;
            width: 90px;
            color: black;
            transform: rotate(90deg);
        }
       
        
    </style>





