﻿
@{
    ViewBag.Title = "Регламент";
}
<div class="block">
    <h2>Регламент</h2>




    <div class="competition">
        <p />


        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>Регламент</li>
                <li>@Html.ActionLink("Спортсмени", "CompetitionSportsman", new { ViewBag.IdCompetition })</li>

                <li><a href="/Game/Game/@ViewBag.IdCompetition">Ігри</a></li>
                <li>@Html.ActionLink("Результат", "ResultSportsman", new { ViewBag.IdCompetition })</li>

            </ul>
        </div>
                        
                            @foreach (var r in ViewBag.Competition)
                            {
                                <div>
                                    @if(r.id_competition==ViewBag.IdCompetition)
                                    {
                                <span>@r.regulation</span>
                                    }
                                 </div>
                            }

                        

                        <br />
                    
                </div>
            </div>
     @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


            <style>
                body {
                    background-color: darkgreen;
                }

                .block {
                    background-color: white;
                }
            </style>

