﻿
@{
    ViewBag.Title = "ResultSportsman";
}
<div class="block">
    <div class="h2">
        <h2>Результат</h2>
    </div>

    <div class="competition">
        <p />


        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Регламент", "Regulations", new { ViewBag.IdCompetition })</li>
                <li>@Html.ActionLink("Спортсмени", "CompetitionSportsman", new { ViewBag.IdCompetition })</li>

                <li><a href="/Game/Game/@ViewBag.IdCompetition">Ігри</a></li>
                <li>Результат</li>
            </ul>
        </div>

        <table class="demotable" width=90% height=10px border=1 valign=MIDDLE>
            <tr>

                <td>Прізвище Ім'я</td>
                <td>Дата народження</td>
                <td>Звання</td>
                <td>Міcто</td>
                <td>Бали</td>
                <td>Місце</td>
            </tr>
            @foreach (var r in ViewBag.CompetitionSportsman)
            {

                if (r.id_competition == ViewBag.IdCompetition)
                {
                    <tr>
                        @foreach (var g in ViewBag.Sportsman)
                    {

                        if (r.id_sportsman == g.id_sportsman)
                        {
                                <td>   @g.name_sportsman</td>
                                <td>@g.birthday_sportsman.ToShortDateString()</td>
                                        <td>
                                            @foreach (var q in ViewBag.Ranks)
                                            {
                                                if (g.id_rank == q.id_rank)
                                                {
                                                    @q.name_rank
                                                }
                                            }
                                        </td>
                                        <td>  @g.city_sportsman</td>
                                        <td>@r.points</td>
                                        <td>@r.result_sportsman</td>
                            }


                        }

                    </tr>
                }


            }


        </table>

        <br />

    </div>
    </div>
   <style>
       .h2{
           margin-left:3%;
       }
       .navbar-collapse{
           margin-left:5%;
       }
       .demotable {
           border-collapse: collapse;
           counter-reset: schetchik;
           margin: auto;
       }

           .demotable tbody tr:nth-child(n+2) {
               counter-increment: schetchik;
           }

           .demotable td,
           .demotable tbody tr:before {
               padding: .1em .5em;
               border: 1px solid;
           }

           .demotable tbody tr:before {
               display: table-cell;
               vertical-align: middle;
               height: 35px;
           }

           .demotable tbody tr:before,
           .demotable b:after {
               content: counter(schetchik);
               color: black;
               height: 35px;
           }

           .demotable tbody tr:nth-child(-n+1):before {
               content: "";
           }

       body {
           background-color: darkgreen;
       }

       .block {
           background-color: white;
       }
</style>