﻿@model WebApplication1.Game

@{
    ViewBag.Title = "Видалення гри";
}



<h3>Ви дійсно хочете видалити гру?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Назва гри")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_game)
        </dd>

        <dt>
            @Html.DisplayName("Статус гри")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_status)
        </dd>

  

        <dt>
            @Html.DisplayName("Рахунок першого спортсмена")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score_1)
        </dd>

        <dt>
            @Html.DisplayName("Рахунок другого спортсмена")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score_2)
        </dd>

        <dt>
            @Html.DisplayName("Назва Змагань")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_competition)
        </dd>

        <dt>
            @Html.DisplayName("Ім'я першого спорсмена")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sportsman_id_1)
        </dd>

        <dt>
            @Html.DisplayName("Ім'я другого спорсмена")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sportsman_id_2)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Повернутися назад", "Game")
        </div>
    }
</div>
