﻿@model WebApplication1.Game

@{
    ViewBag.Title = "Edit";
}

<h2>Виставлення рахунку</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_game)

        <div class="form-group">
            @Html.LabelFor(model => model.name_game,"Стадія гри:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var g in ViewBag.Game)
                {
                    if (g.id_game == ViewBag.Id)
                    {
                        @g.name_game

                    }
                }
               
            </div>
        </div>

     

        <div class="form-group">
            @Html.LabelFor(model => model.sportsman_id_1, "Перший спортсмен", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var g in ViewBag.Game)
                {
                    foreach (var r in ViewBag.Sportsman)
                    {
                        if (g.id_game == ViewBag.Id)
                        {
                            if (g.sportsman_id_1 == r.id_sportsman)
                            {
                        @r.name_sportsman
                            }
                        }
                    }
                }
                


            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sportsman_id_2, "Другий спортсмен", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var g in ViewBag.Game)
                {
                    foreach (var r in ViewBag.Sportsman)
                    {
                        if (g.id_game == ViewBag.Id)
                        {
                            if (g.sportsman_id_2 == r.id_sportsman)
                            {
                                @r.name_sportsman
                            }
                        }
                    }
                }
               


            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.score_1, "Рахунок 1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.score_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.score_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.score_2, "Рахунок 2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.score_2,  new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.score_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_competition, "Змагання", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @foreach(var g in ViewBag.Competition)
               {
                       if (g.id_competition == ViewBag.IdCompetition)
                       {
                          @g.name_competition
                                                   
                   }
               }


            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти" class="btn btn-default" />
            </div>
        </div>
    </div>
}


    <li><a href="/Game/Game/@ViewBag.IdCompetition">Ігри</a></li>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
