﻿

@{
    ViewBag.Title = "Ігри";
}
<div class="block">
    <div class="h2">
        <h2>Ігри</h2>
    </div>


    <div class="Game">
        <p />

 
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Регламент", "Regulations", "Competition", new { IdCompetition = @ViewBag.IdCompetition }, null)</li>
                            <li>@Html.ActionLink("Спортсмени", "CompetitionSportsman", "Competition", new { IdCompetition = @ViewBag.IdCompetition }, null)</li>

                            <li>Ігри</li>
                            <li>@Html.ActionLink("Результат", "ResultSportsman", "Competition", new { IdCompetition = @ViewBag.IdCompetition }, null)</li>
                        </ul>
                    </div>
                    
                    <table class="demotable">
                        <tr>

                            <td>Стадія турніру</td>

                            <td>Спортсмен 1</td>
                            <td>Рахунок</td>
                            <td>Спортсмен 2</td>


                        </tr>
                        @foreach (var r in ViewBag.Game)
            {

                if (r.id_competition == ViewBag.IdCompetition)
                {
                                <tr>

                                    <td>@r.name_game фіналу</td>


                                    <td>
                                        @foreach (var g in ViewBag.Sportsman)
                                        {
                                            if (r.sportsman_id_1 == g.id_sportsman)
                                            {
                                                @g.name_sportsman
                                            }
                                        }
                                    </td>
                                    <td align="center">@r.score_1 : @r.score_2 </td>
                                    <td>
                                        @foreach (var q in ViewBag.Sportsman)
                                        {
                                            if (r.sportsman_id_2 == q.id_sportsman)
                                            {
                                                @q.name_sportsman
                                            }
                                        }
                                    </td>

                                  @if (User.IsInRole("admin"))
                                  {
                                    foreach (var q in ViewBag.Competition)
                                    {
                                        if (r.id_competition == q.id_competition)
                                        {
                                            if (q.competiton_status != true)
                                            {
                                    <td>@Html.ActionLink("Виставити рахунок", "Edit", "Game", new { id = @r.id_game, IdCompetition = @ViewBag.IdCompetition }, null)</td>
                                                }
                                            }
                                        }
                                    }
                                </tr>
                            }
                        }
                    </table>
                    <br />

                </div>
            </div>
      


            <style>
                .a {
                    margin-left: 5%;
                }

                .h2 {
                    margin-left: 5%;
                }

                .navbar-collapse {
                    margin-left: 5%;
                }

                .demotable {
                    border-collapse: collapse;
                    width: 90%;
                    margin: auto;
                    height: 10px;
                    border: 1;
                }

                    .demotable tr {
                    }

                        .demotable td,
                        .demotable tr:before {
                            padding: .1em .5em;
                            border: 1px solid;
                            color: black;
                            height: 40px;
                        }

                        .demotable tr:before {
                            display: table-cell;
                            vertical-align: middle;
                            color: black;
                            height: 40px;
                        }

                body {
                    background-color: darkgreen;
                }

                .block {
                    background-color: white;
                }
            </style>



